{% extends "base.html" %}

{% block content %}

  <div class="container mt-5">
    <div class="row">
        <h1 class="title">
          Ciao {{ name }}!
        </h1>
    </div>
    <div class="row">
        {% include 'alert.html' %}
    </div>

    <div class="row">
        <h2> Richieste cura </h2>
        <h5> Qui puoi gestire le richieste ricevute dai dottori </h5>
        <p>
            Accettando una richiesta permetterai al dottore di vedere la tua storia
            clinica per aiutarlo nella scelta migliore della terapia per il tuo caso
        </p>
        
        <p>
           Una volta accetta la richiesta potrai rimuoverla in ogni momento impedendo al dottore
           di prescriverti nuove terapie. 
           Ricorda una volta eliminato il dottore non potrai più essere seguito. Solo il dottore potrà inviarti una 
           nuova richiesta.
        </p>

        <table id="patientRequests" class="table">
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in current_notifications_list %}
                    <tr class="patientRequest" data-id-doctor="{{ item.id_doctor}}" data-id-notification="{{item.id}}" >
                        <td>Il dottore {{ item.doctor_name }}</td>
                        {% if item.status == 1 %}
                            <td><button class="btn btn-success sendLinkPatient" >Accetta</button></td>
                        {% endif %}
                        {% if item.status == 2 %}
                            <td><button class="btn btn-danger removeLinkPatient" >Rimuovi</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>

    $('#patientRequests').on('click', '.sendLinkPatient', function() {
        var idDoctor = $(this).closest('.patientRequest').data('id-doctor');
        var idNotification = $(this).closest('.patientRequest').data('id-notification');
      // Send AJAX request to Flask endpoint
        $.ajax({
            type: 'POST',
            url: '/accept_doctor_request',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({ 'id_doctor': idDoctor,"id_notification": idNotification }),
            success: function(response) {
                // Display the selected user details
                
                $('#alert_success').removeClass('d-none');
                $(this).hide()
                setTimeout(function() {
                    $('#alert_success').addClass('d-none');
                }, 3000);
            
            },
            error: function(error) {
                console.error('Error:', error);
                $('#alert_danger').removeClass('d-none');

                setTimeout(function() {
                    $('#alert_danger').addClass('d-none');
                }, 3000);
            }
        });
    });

    $('#patientRequests').on('click', '.removeLinkPatient', function() {

        var idNotification = $(this).closest('.patientRequest').data('id-notification');
        var idDoctor = $(this).closest('.patientRequest').data('id-doctor');

        $.ajax({
            type: 'POST',
            url: '/remove_doctor_request',
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({ 'id_doctor': idDoctor,"id_notification":idNotification }),
            success: function(response) {
                // Display the selected user details
                
                $('#alert_success').removeClass('d-none');

                setTimeout(function() {
                    $('#alert_success').addClass('d-none');
                }, 3000);
            
            },
            error: function(error) {
                console.error('Error:', error);
                $('#alert_danger').removeClass('d-none');

                setTimeout(function() {
                    $('#alert_danger').addClass('d-none');
                }, 3000);
            }
        });


    });

</script>
{% endblock %}