{% extends "base.html" %}

{% block content %}     
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="card p-3">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h5 class="mb-0">Modifica informazioni utente</h5>
                        <form method="get" action="{{ url_for('doctor.patient_treatment_list', patient_id=user.id, patient_name=form.name) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button class="btn btn-primary" type="submit">Vedi trattamenti</button>
                        </form>
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-success" role="alert">
                                {{ messages[0] }}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form method="POST">
                        {{ form.csrf_token }}
                        {{ form.email.label(style="display:block;margin-top:15px;") }}
                        {{ form.email }}
                        {{ form.name.label(style="display:block;margin-top:15px;") }}
                        {{ form.name }}
                        {{ form.surname.label(style="display:block;margin-top:15px;") }}
                        {{ form.surname }}
                        {{ form.birth_date.label(style="display:block;margin-top:15px;") }}
                        {{ form.birth_date(id='generic-datepicker-no-res',style="max-width:80%") }}
                        {{ form.password.label(style="display:block;margin-top:15px;") }}
                        {{ form.password }}
                        {{ form.sex.label(style="display:block;margin-top:15px;") }}
                        {{ form.sex }}
                        {{ form.phone.label(style="display:block;margin-top:15px;") }}
                        {{ form.phone }}
                        {{ form.sx_dx_hand.label(style="display:block;margin-top:15px;") }}
                        {{ form.sx_dx_hand }}
                        {{ form.manual_job.label(style="display:block;margin-top:15px;") }}
                        {{ form.manual_job }}
                        {{ form.job.label(style="display:block;margin-top:15px;") }}
                        {{ form.job }}
                        {{ form.note.label(style="display:block;margin-top:15px;") }}
                        {{ form.note }}
                        {{ form.submit_patient_settings(style="display:block; margin-top:15px;") }}
                        {% if form.errors %}
                            {{ form.errors }}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/datepicker_custom_no_date_restriction.js') }}"></script>
{% endblock %}