{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1 id="timeline">Storia Paziente Marco Rossi</h1>
</div>

<div class="row text-center">
    <h3 >Numero Controlli</h1>
</div>

<ul class="timeline">
    
      {% for  item in timeline %}
      {% if (loop.index + 1) is divisibleby(2) %}
      <li>
      <div class="timeline-badge control_success">{{loop.index}}<i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{item.next_control_date}}</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra látis.</p>
        </div>
      </div>
    </li>
    {% else %}
    <li class="timeline-inverted">
      <div class="timeline-badge danger">{{loop.index}}<i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{item.next_control_date}}</h4>
        </div>
        <div class="timeline-body">
          <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra látis.s</p>
          
        </div>
      </div>
    </li>
    {% endif %}
  {% endfor %}
</ul>

{% endblock %}