{% extends "base.html" %}

{% block content %}

<div class="page-header">
    <h1 id="timeline">Storia Paziente </h1>
</div>

<div class="row text-center">
    <h3 >Numero Controlli</h1>
</div>

<ul class="timeline">
    
      {% for  pathologies_row,controls_map in pathology_and_control_maps %}
      {% if (loop.index + 1) is divisibleby(2) %}
      <li>
      <div class="timeline-badge  {% if pathologies_row.id_control_status==control_status_enum.CLOSED.value[0] %}success{% elif pathologies_row.id_control_status==control_status_enum.EXPIRED.value[0] %}danger {% else %} info {% endif %}">{{loop.index}}<i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{pathologies_row.next_control_date}}</h4>
        </div>
        <div class="timeline-body">
          
          {% if pathologies_row.id_control_status==control_status_enum.CLOSED.value[0] %}
            {% include 'general/show_control_history.html' %}
          {% endif %}
        </div>
      </div>
    </li>
    {% else %}
    <li class="timeline-inverted">
      <div class="timeline-badge  {% if pathologies_row.id_control_status==control_status_enum.CLOSED.value[0] %}success{% elif pathologies_row.id_control_status==control_status_enum.EXPIRED.value[0] %}danger {% else %} info {% endif %}">{{loop.index}}<i class="glyphicon glyphicon-check"></i></div>
       <div class="timeline-panel">
        <div class="timeline-heading">
          
          <h4 class="timeline-title">{{pathologies_row.next_control_date}}</h4>
        </div>
        <div class="timeline-body">
        </div>
      </div>
    </li>
    {% endif %}
  {% endfor %}
</ul>

{% endblock %}