{% extends "base.html" %}


{% block content %}

    {% if controls_map.nprs_vas %}

    {{% control_value.nprs_vas}}
    
    {% endif %}

    {% if controls_map.prom_aprom_mcpj %}

    {{% control_value.prom_aprom_mcpj}}

    {% endif %}

    {% if controls_map.prom_aprom_ipj %}


    {% endif %}

    {% if controls_map.abduzione %}
        

    {% endif %}

    {% if controls_map.anteposizione %}
        


    {% endif %}

    {% if controls_map.kapandji %}
        


    {% endif %}

    {% if controls_map.pinch  %}
        


    {% endif %}

    {% if controls_map.grip  %}
        

    {% endif %}

    {% if controls_map.dash  %}
        

    {% endif %}

    {% if controls_map.prwhe  %}
        


    {% endif %}

    {% if controls_map.eaton_littler  %}
            


    {% endif %}


    {% if controls_map.tipo_cicatrice  %}


    {% endif %}

    {% if controls_map.stato_cicatrice  %}


    {% endif %} 

    {% if controls_map.modena  %}
            

    {% endif %} 

{% endblock %}