<form  method="POST">
    {{ form.csrf_token }}


{% if controls_map.data_frattura.active %}

    {{ form.data_frattura.label }}
    {{ form.data_frattura(id='generic-datepicker') }}

{% endif %}

    
{% if controls_map_pre.resezione_filiera.active %}

    {% include 'doctor/pre_options/pre_resezione_filiera.html' %}

{% endif %}

{% if controls_map_pre.dupuytren.active %}

    {% include 'doctor/pre_options/pre_dupuytren.html' %}

{% endif %}

{% if controls_map_pre.lesione_ligamentosa.active %}

    {% include 'doctor/pre_options/pre_lesione_ligamentosa.html' %}

{% endif %}

{% include 'general/pathology_form_fields.html' %}
    

</form>

<script>
    // Function to calculate the mean of the three grip values
    function calculateMeanGrip() {
        // Get the values of the three input fields
        const misurazione1 = parseFloat(document.getElementById('misurazione_1_grip').value) || 0;
        const misurazione2 = parseFloat(document.getElementById('misurazione_2_grip').value) || 0;
        const misurazione3 = parseFloat(document.getElementById('misurazione_3_grip').value) || 0;

        // Calculate the mean
        const mean = (misurazione1 + misurazione2 + misurazione3) / 3;

        // Set the value of the readonly grip field
        document.getElementById('grip').value = mean.toFixed(2); // Rounded to 2 decimal places
    }

    function calculateMeanFinger() {
        // Get the values of the three input fields
        const misurazione1 = parseFloat(document.getElementById('misurazione_1_finger').value) || 0;
        const misurazione2 = parseFloat(document.getElementById('misurazione_2_finger').value) || 0;
        const misurazione3 = parseFloat(document.getElementById('misurazione_3_finger').value) || 0;

        // Calculate the mean
        const mean = (misurazione1 + misurazione2 + misurazione3) / 3;

        // Set the value of the readonly grip field
        document.getElementById('finger').value = mean.toFixed(2); // Rounded to 2 decimal places
    }


    //Finger 

    document.getElementById('misurazione_1_finger').addEventListener('input', calculateMeanFinger);
    document.getElementById('misurazione_2_finger').addEventListener('input', calculateMeanFinger);
    document.getElementById('misurazione_3_finger').addEventListener('input', calculateMeanFinger);

    // Add event listeners to the three input fields to recalculate the mean on input change
    document.getElementById('misurazione_1_grip').addEventListener('input', calculateMeanGrip);
    document.getElementById('misurazione_2_grip').addEventListener('input', calculateMeanGrip);
    document.getElementById('misurazione_3_grip').addEventListener('input', calculateMeanGrip);



</script>
