{% if controls_map.nprs_vas %}

    {{ form.nprs_vas.label }}
    {{ form.nprs_vas }}

{% endif %}

{% if controls_map.prom_aprom_mcpj %}

    {{ form.prom_aprom_mcpj.label }}
    {{ form.prom_aprom_mcpj }}

{% endif %}

{% if controls_map.prom_aprom_ipj %}

    {{ form.prom_aprom_ipj.label }}
    {{ form.prom_aprom_ipj }}

{% endif %}

{% if controls_map.abduzione %}
      
    {{ form.abduzione.label }}
    {{ form.abduzione }}

{% endif %}

{% if controls_map.anteposizione %}
      
    {{ form.anteposizione.label }}
    {{ form.anteposizione }}

{% endif %}

{% if controls_map.kapandji %}
      
    {{ form.kapandji.label }}
    {{ form.kapandji }}

{% endif %}

{% if controls_map.pinch  %}
      
    {{ form.pinch.label }}
    {{ form.pinch }}

{% endif %}

{% if controls_map.grip  %}
      
    {{ form.grip.label }}
    {{ form.grip }}

{% endif %}

{% if controls_map.dash  %}
      
    {{ form.dash.label }}
    {{ form.dash }}

{% endif %}

{% if controls_map.prwhe  %}
      
    {{ form.prwhe.label }}
    {{ form.prwhe }}

{% endif %}

{% if controls_map.eaton_littler  %}
        
    {{ form.eaton_littler.label }}
    {{ form.eaton_littler }}

{% endif %}


{% if controls_map.tipo_cicatrice  %}
        
    {{ form.tipo_cicatrice.label }}
    {{ form.tipo_cicatrice }}

{% endif %}

{% if controls_map.stato_cicatrice  %}
        
    {{ form.stato_cicatrice.label }}
    {{ form.stato_cicatrice }}

{% endif %} 

{% if controls_map.modena  %}
        
    {{ form.modena.label }}
    {{ form.modena }}

{% endif %} 

{% if form.errors %}
    {{ form.errors }}
{% endif %}

<!-- Repeat the above lines for each form field -->
{% if next_control_jinja is defined %}
{% include 'general/select_date.html' %}
{% endif %}
{{ form.submit_form() }}