<form  id="form-post-treatment" method="POST">
    {{ form.csrf_token }}
    
    {% if event_in_range=="0" %}
        <h2 class="title mt-3">
            Puoi cambiare la data del controllo
        </h2>

        {{ form.orario_controllo.label }}
        {{ form.orario_controllo(id='timepicker', style="max-width:50%") }}

        
        {{ form.data_controllo.label }}
        
        <div class="mt-3 mb-3">
            {{ form.data_controllo(id='datepicker',style="max-width:50%") }}
        </div>

        {{form.submit_change_date(style="max-width:30%")}}

        <div class="row mt-2">
            <h4>Evento non aperto. Puoi compilare solo 20 giorni prima o 20 giorni dopo rispetto alla data indicata</h4>
            <h5>Se vuoi aprire evento cambia data. Attenzione però che i dati non saranno conteggiati nello storico paziente</h5>
        </div>
    {% endif %}
   

    {% if event_in_range=="1" %}

    <div class="row">

        <h2> Configuratore guidato terapia </h2>
        
        {% if data_inizio_mobilizzazione %}
            
            {{ form.data_inizio_mobilizzazione.label }}
        
            <div class="mt-3 mb-3">
                {{ form.data_inizio_mobilizzazione(id='generic-datepicker-no-res',style="max-width:50%") }}
            </div>
            
        {% endif %}

    </div> 

    {% include 'general/pathology_form_fields.html' %}
    
    {% endif %}

</form>

<div class="row">
    <div class="col-md-12 mb-12 col-lg-12">
      <div>
        <button class="btn btn-success fixed-button" type="button" id="generate-full-pdf">Genera PDF</button>
      </div>
    </div>
  </div>


{% if event_in_range=="2" %}
<div class="row">
    
    <h4>Evento chiuso. Puoi Scaricare il PDF</h4>

    <div class="col-md-12 mb-12 col-lg-12">
        <div>
          <button class="btn btn-success" type="button" id="download_pdf">Scarica PDF</button>
        </div>
      </div>
</div>

<script>
    $(document).ready(function(){
        console.log("Hide button");
        $("#generate-full-pdf").css("display", "none");
    });

    $("#download_pdf").click(function () {
        
        window.location.href =  "/static/pdf_files/"+ "report_{{row_id}}.pdf";
            
    });

</script>
{% endif %}


<script src="{{ url_for('static', filename='js/datepicker_custom_no_date_restriction.js') }}"></script>

