{% if controls_map.mpcj.active %}

{% include 'doctor/parametri/mpcj.html' %}

{% endif %}

{% if controls_map.dipj.active %}

{% include 'doctor/parametri/dipj.html' %}

{% endif %}


{% if controls_map.pipj.active %}

{% include 'doctor/parametri/pipj.html' %}

{% endif %}


{% if controls_map.ipj.active %}

{% include 'doctor/parametri/ipj.html' %}

{% endif %}

{% if controls_map.trapezio_metacarpale.active %}

{% include 'doctor/parametri/trapezio_metacarpale.html' %}

{% endif %}

{% if controls_map.vas.active %}

{% include 'doctor/parametri/vas.html' %}

{% endif %}


{% if controls_map.polso.active %}

{% include 'doctor/parametri/polso.html' %}

{% endif %}


{% if controls_map.forza.active %}

{% include 'doctor/parametri/forza.html' %}

{% endif %}

{% if controls_map.dash.active %}

{% include 'doctor/parametri/dash.html' %}

{% endif %}


{% if controls_map.prwhe.active %}

{% include 'doctor/parametri/prwhe.html' %}

{% endif %}


{% if controls_map.eaton_littler.active %}

{% include 'doctor/parametri/eaton_littler.html' %}

{% endif %}


{% if controls_map.edema.active %}

{% include 'doctor/parametri/edema.html' %}

{% endif %}

{% if controls_map.sensibilita_volare.active %}

{% include 'doctor/parametri/sensibilita_volare.html' %}

{% endif %}

{% if controls_map.sensibilita_dorsale.active %}

{% include 'doctor/parametri/sensibilita_dorsale.html' %}

{% endif %}

{% if controls_map.cicatrice.active %}

{% include 'doctor/parametri/cicatrice.html' %}

{% endif %}

{% if controls_map.tutore.active %}

{% include 'doctor/parametri/tutore.html' %}

{% endif %}


{% if controls_map.altro.active %}

{% include 'doctor/parametri/altro.html' %}

{% endif %}

{% if controls_map.guarigione_ossea.active %}

{% include 'doctor/parametri/guarigione_ossea.html' %}

{% endif %}

{% if controls_map.concesso_inizio_mobilizzazione.active %}

{% include 'doctor/parametri/concesso_inizio_mobilizzazione.html' %}

{% endif %}

{% if controls_map.articolazione_stabile.active %}

{% include 'doctor/parametri/articolazione_stabile.html' %}

{% endif %}


{% if form.errors %}
{{ form.errors }}
{% endif %}


{{form.submit_form()}}