
  <div class="mb-3">
   <!-- Add each field to the form -->
   <p class="mb-2 mt-2"> Seleziona Data Prossimo Controllo </p>
    <p><input class="form-control-custom" placeholder="nuova data" type="text" name="selected_date" id="datepicker" ></p>
    <p class="mb-2 mt-2"> Seleziona orario Prossimo Controllo </p>
    <div><input type="text" class="form-control-custom" placeholder="nuovo orario" name="selected_time" id="timepicker"> <img src="/static/img/clock.png" height="32" width="32" alt=""></div>
  </div>

<script>
    $(function () {
        // Define the start and end dates
        // Initialize Datepicker
        $("#datepicker").datepicker({
            dateFormat: 'dd-mm-yy', // Set the date format
            changeMonth: true,
            changeYear: true,
            showOn: "button", // Show the Datepicker when clicking the button
            buttonText: "",
            beforeShow: function (input, inst) {
              // Prevent the calendar from showing on focus
              if (!$("#datepicker").prop("disabled")) {
                $.datepicker._clearDate(input);
              }
            },
            beforeShowDay: function(d) {
              // a and b are set to today ± 5 days for demonstration
              var a = new Date();
              var b = new Date();
              a.setDate(a.getDate() + 12);
              b.setDate(b.getDate() + 19);
              return [true, a <= d && d <= b ? "calendar-highlight" : ""];
            }
            // Add more options as needed
        });
    });
    $(function () {
    
    $("#timepicker").timepicker({
      timeFormat: 'HH:mm',
      controlType: 'select',
      oneLine: true,
      showButtonPanel: true,
      showTimezone: false,
      showHour: true,
      showMinute: true,
      showSecond: false,
      showMillisec: false,
      showMicrosec: false,
      });
    });
</script>