<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valore</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          {% if controls_map.nprs_vas %}

          <td>nprs_vas</td>
          <td>{{pathologies_row.nprs_vas}}</td>
      
          {% endif %}
        </tr>

        <tr>
            {% if controls_map.prom_aprom_mcpj %}
  
            <td>prom_aprom_mcpj</td>
            <td>{{pathologies_row.prom_aprom_mcpj}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.prom_aprom_ipj %}
  
            <td>prom_aprom_ipj</td>
            <td>{{pathologies_row.prom_aprom_ipj}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.abduzione %}
  
            <td>abduzione</td>
            <td>{{pathologies_row.abduzione}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.anteposizione %}
  
            <td>anteposizione</td>
            <td>{{pathologies_row.anteposizione}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.kapandji %}
  
            <td>kapandji</td>
            <td>{{pathologies_row.kapandji}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.pinch %}
  
            <td>pinch</td>
            <td>{{pathologies_row.pinch}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.grip %}
  
            <td>grip</td>
            <td>{{pathologies_row.grip}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.dash %}
  
            <td>dash</td>
            <td>{{pathologies_row.dash}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.prwhe %}
  
            <td>prwhe</td>
            <td>{{pathologies_row.prwhe}}</td>
        
            {% endif %}
          </tr>
          <tr>
            {% if controls_map.eaton_littler %}
  
            <td>eaton_littler</td>
            <td>{{pathologies_row.eaton_littler}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.tipo_cicatrice %}
  
            <td>tipo_cicatrice</td>
            <td>{{pathologies_row.tipo_cicatrice}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.stato_cicatrice %}
  
            <td>stato_cicatrice</td>
            <td>{{pathologies_row.stato_cicatrice}}</td>
        
            {% endif %}
          </tr>

          <tr>
            {% if controls_map.modena %}
  
            <td>modena</td>
            <td>{{pathologies_row.modena}}</td>
        
            {% endif %}
          </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>



