<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Buongiorno, dott {{ name }}!
</h1>
<div class="row">

  <div class="col-md-4 mb-4 col-lg-4">
  
    <h4>
      Pazienti Attualmente in cura
    </h4>

    <table id="patientTable" class="table">
      <thead>
          <tr class="text-center">
              <th>ID</th>
              <th>Name</th>
              <th>Nuovo Trattamento</th>
              <th>Azioni</th>
              
          </tr>
      </thead>
      <tbody>
          {% for item in patients_list %}
              <tr class="patientRow text-center" data-patient-id="{{ item.id}}">
                  <td >{{ item.id }}</td>
                  <td>{{ item.name }}</td>
                  <td>
                    <form method="post" action="{{ url_for('doctor.medical_treatment', patient_id=item.id, patient_name=item.name) }}">
                        <button class="btn btn-success" type="submit">Crea</button>
                      </form>
                  </td>
                  <td><button class="btn btn-danger sendLinkPatient" >Rimuovi</button></td>
              </tr>
          {% endfor %}
      </tbody>
  </table>

  </div>
</div>



{% endblock %}