<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}


<div class="row mt-5">

    <div class="col-md-4 mb-4 col-lg-4">
    </div>
    <div class="col-md-4 mb-4 col-lg-4">

        <h2>Aggiungi un nuovo paziente</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
            </div>
        {% endif %}
        {% endwith %}
        <!-- Bootstrap Form -->
        <form action="{{ url_for('doctor.create_patient_post') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
             <div class="mb-3">
                <label for="surname" class="form-label">Cognome</label>
                <input type="text" class="form-control" id="surname" name="surname" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="mt-2 btn btn-primary">Submit</button>
        </form>
    </div>


    <div class="col-md-4 mb-4 col-lg-4">
</div>
{% endblock %}