{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-6 mb-6 col-lg-6">
  
      <h4 class="title mt-3">
        Seleziona la patologia da trattare
      </h4>


      <form id="pathology_selection" action="{{ url_for('doctor.pathology') }}" method="post">
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3 mt-4">
            <label for="category" class="form-label">Patologia</label>
            <select class="form-select" id="pathology" name="pathology">

              {% for member in pathology %}
                <option value="{{member.value[0]}}">{{member.value[1]}}</option>
              {% endfor %}
            </select>
        </div>
  
        <div class="mb-3">
            <label for="pathology_type" class="form-label">Seleziona la patologia</label>
            <select class="form-select" id="pathology_type" name="pathology_type">
                <!-- Options will be dynamically populated based on the selected category -->
            </select>
        </div>
  
        <div class="mb-3" id="additionalFieldContainer" style="display: none;">
          <label for="additionalField" class="form-label">Additional Field</label>
          <input type="text" class="form-control" id="additionalField" name="additionalField">
        </div>

          
         <!-- Fratture Radio Distalu -->

        


        <div id="radio_distale_giorni" style="display: none;" >

          <label for="radio_distale_giorni_value" class="form-label">Inserire Data Intervento</label>
          <p><input type="text" name="{{form_keys.radio_distale_giorni_value.value}}"  id="radio_distale_datepicker" class="form-control-custom" ></p>
          
        </div>

        <div id="classificazione_radiografica" style="display: none;" >
          
          <h4>
           Classificazione Radiografica
          </h4>

          <label for="classificazione_radiografica_tipo_valore" class="form-label">Tipo Classificazione</label>
          <input type="text" name="{{form_keys.classificazione_radiografica_tipo_valore.value}}"  id="{{form_keys.classificazione_radiografica_tipo_valore.value}}" class="form-control" >
          
          <label for="classificazione_radiografica_numero_valore" class="form-label">Numero Classificazione</label>
          <input type="text" name="{{form_keys.classificazione_radiografica_numero_valore.value}}"  id="{{form_keys.classificazione_radiografica_numero_valore.value}}" class="form-control" >
          
        </div>



        <!-- Fratture Metacarpali -->

       

        
        <div id="fratture_metacarpali_non_chirurgico" style="display: none;" >

          <h4>Non Chirurgico</h4>

          
          <select class="form-select" id="{{form_keys.fratture_metacarpali_non_chirurgico_type.value}}" name="{{form_keys.fratture_metacarpali_non_chirurgico_type.value}}">
              
            <option value="1">Gesso Chiuso</option>
            <option value="2">Valva Gessata</option>
            <option value="3">Tutore Termoplastica</option>
            
          </select>
          
          <label  class="form-label" for="fratture_metacarpali_non_chirirgico_polso">Polso</label>
          <select class="form-select" id="{{form_keys.fratture_metacarpali_non_chirirgico_polso.value}}" name="{{form_keys.fratture_metacarpali_non_chirirgico_polso.value}}">
            <option value="0">Si</option>
            <option value="1">No</option>
          </select>

          

          <label  class="form-label"for="fratture_metacarpali_non_chirirgico_mcpj">MCPj</label>
          <select class="form-select"  id="{{form_keys.fratture_metacarpali_non_chirirgico_mcpj.value}}" name="{{form_keys.fratture_metacarpali_non_chirirgico_mcpj.value}}">
            <option value="0">No</option>
            <option value="1">Si</option>
          </select>
          

          <div id="fratture_metacarpali_non_chirirgico_mcpj_yes" style="display:none">
            <label  class="form-label" for="fratture_metacarpali_non_chirirgico_mcpj_yes">Valore</label>
            <select class="form-select"  id="{{form_keys.fratture_metacarpali_non_chirirgico_mcpj_yes_value.value}}" name="{{form_keys.fratture_metacarpali_non_chirirgico_mcpj_yes_value.value}}">
              <option value="Flesse">Flesse</option>
              <option value="Estese">Estese</option>
            </select>
          </div>

          <label  class="form-label" for="{{form_keys.fratture_metacarpali_non_chirirgico_pipj.value}}">PIPj</label>
          <select class="form-select" id="{{form_keys.fratture_metacarpali_non_chirirgico_pipj.value}}" name="{{form_keys.fratture_metacarpali_non_chirirgico_pipj.value}}">
            <option value="0">No</option>
            <option value="1">Si</option>
          </select>

          <div id="{{form_keys.fratture_metacarpali_non_chirirgico_pipj_yes.value}}" style="display:none">
            <label  class="form-label" for="{{form_keys.fratture_metacarpali_non_chirirgico_pipj_yes_value.value}}">Valore</label>
            <select class="form-select"  id="{{form_keys.fratture_metacarpali_non_chirirgico_pipj_yes_value.value}}" name="{{form_keys.fratture_metacarpali_non_chirirgico_pipj_yes_value.value}}">
              <option value="Flesse">Flesse</option>
              <option value="Estese">Estese</option>
            </select>
          </div>
        </div>

        <div id="fratture_metacarpali_chirurgico" style="display: none;" >
          
          <h4>Chirurgico</h4>
          <label for="{{form_keys.fratture_metacarpali_chirurgico_data.value}}" class="form-label">Inserire Data Intervento</label>
          <p><input type="text" name="{{form_keys.fratture_metacarpali_chirurgico_data.value}}"  id="radio_distale_datepicker" class="form-control-custom" ></p>
          

          <label for="{{form_keys.fratture_metacarpali_fili_kirschner.value}}" class="form-label">Fili Kirschner</label>
          <select class="form-select" id="{{form_keys.fratture_metacarpali_fili_kirschner.value}}" name="{{form_keys.fratture_metacarpali_fili_kirschner.value}}">
              
            <option value="endomidollari_anterogradi">Endomidollari anterogradi</option>
            <option value="endomidollari_retrogradi">Endomidollari retrogradi</option>
            <option value="trasversi">Trasversi</option>
            
          </select>

          <label for="{{form_keys.fratture_metacarpali_viti.value}}" class="form-label">Viti</label>
          <select class="form-select" id="{{form_keys.fratture_metacarpali_viti.value}}" name="{{form_keys.fratture_metacarpali_viti.value}}">
              
            <option value="endomidollari">Endomidollari </option>
            <option value="lag">lag</option>
          </select>
          
        </div>


        <div id="fratture_metacarpali_classificazione_radiografica" style="display: none;" >
          
          
          <h4>
            Classificazione
          </h4>

          <input type="text" name="{{form_keys.fratture_metacarpali_step1_valore.value}}"  id="{{form_keys.fratture_metacarpali_step1_valore.value}}" class="form-control" >


          <label for="{{form_keys.fratture_metacarpali_classificazione_radiografica_value.value}}" class="form-label">Classificazione Radiografica</label>
          <select class="form-select" id="{{form_keys.fratture_metacarpali_classificazione_radiografica_value.value}}" name="{{form_keys.fratture_metacarpali_classificazione_radiografica_value.value}}">
              
            <option value="prossimale">Prossimale </option>
            <option value="diafisaria">Diafisaria</option>
            <option value="sottocapitata">Sottocapitata </option>
            <option value="distale_articolare">Distale articolare</option>
          </select>

          <div id="fratture_metacarpali_diafisaria" style="display: none;">
            
            <label for="{{form_keys.fratture_metacarpali_diafisaria_value.value}}" class="form-label">Diafisaria Valore</label>

            <select class="form-select" id="{{form_keys.fratture_metacarpali_diafisaria_value.value}}" name="{{form_keys.fratture_metacarpali_diafisaria_value.value}}">
              <option value="Trasversa">Trasversa </option>
              <option value="Obliqua">Obliqua</option>
              <option value="multiframmentaria">Multiframmentaria </option>
            </select>

          </div>
        </div>


        <!-- Fratture Falange Prossimale -->
        
        <div id="fratture_falange_prossimale_non_chirurgico" style="display: none;" >

          <h4>Non Chirurgico Falange</h4>

          
          <select class="form-select" id="{{form_keys.fratture_falange_prossimale_non_chirurgico_type.value}}" name="{{form_keys.fratture_falange_prossimale_non_chirurgico_type.value}}">
              
            <option value="1">Gesso Chiuso</option>
            <option value="2">Valva Gessata</option>
            <option value="3">Tutore Termoplastica</option>
            
          </select>
          
          <label  class="form-label" for="{{form_keys.fratture_falange_prossimale_non_chirirgico_polso.value}}">Polso</label>
          <select class="form-select" id="{{form_keys.fratture_falange_prossimale_non_chirirgico_polso.value}}" name="{{form_keys.fratture_falange_prossimale_non_chirirgico_polso.value}}">
            <option value="0">Si</option>
            <option value="1">No</option>
          </select>

          

          <label  class="form-label"for="fratture_falange_prossimale_non_chirirgico_mcpj">MCPj</label>
          <select class="form-select"  id="{{form_keys.fratture_falange_prossimale_non_chirirgico_mcpj.value}}" name="{{form_keys.fratture_falange_prossimale_non_chirirgico_mcpj.value}}">
            <option value="0">No</option>
            <option value="1">Si</option>
          </select>
          

          <div id="fratture_falange_prossimale_non_chirirgico_mcpj_yes" style="display:none">
            <label  class="form-label" for="{{form_keys.fratture_falange_prossimale_non_chirirgico_mcpj_yes_value.value}}">Valore</label>
            <select class="form-select"  id="{{form_keys.fratture_falange_prossimale_non_chirirgico_mcpj_yes_value.value}}" name="{{form_keys.fratture_falange_prossimale_non_chirirgico_mcpj_yes_value.value}}">
              <option value="Flesse">Flesse</option>
              <option value="Estese">Estese</option>
            </select>
          </div>

          <label  class="form-label" for="{{form_keys.fratture_falange_prossimale_non_chirirgico_pipj.value}}">PIPj</label>
          <select class="form-select" id="{{form_keys.fratture_falange_prossimale_non_chirirgico_pipj.value}}" name="{{form_keys.fratture_falange_prossimale_non_chirirgico_pipj.value}}">
            <option value="0">No</option>
            <option value="1">Si</option>
          </select>

          <div id="{{form_keys.fratture_falange_prossimale_non_chirirgico_pipj_yes}}" style="display:none">
            <label  class="form-label" for="{{form_keys.fratture_falange_prossimale_non_chirirgico_pipj_yes_value.value}}">Valore</label>
            <select class="form-select"  id="{{form_keys.fratture_falange_prossimale_non_chirirgico_pipj_yes_value.value}}" name="{{form_keys.fratture_falange_prossimale_non_chirirgico_pipj_yes_value.value}}">
              <option value="Flesse">Flesse</option>
              <option value="Estese">Estese</option>
            </select>
          </div>
        </div>

        <div id="fratture_falange_prossimale_chirurgico" style="display: none;" >
          
          <h4>Chirurgico Falange</h4>
          <label for="{{form_keys.fratture_falange_prossimale_chirurgico_data.value}}" class="form-label">Inserire Data Intervento</label>
          <p><input type="text" name="{{form_keys.fratture_falange_prossimale_chirurgico_data.value}}"  id="radio_distale_datepicker" class="form-control-custom" ></p>
          

          <label for="{{form_keys.fratture_falange_prossimale_fili_kirschner.value}}" class="form-label">Fili Kirschner</label>
          <select class="form-select" id="{{form_keys.fratture_falange_prossimale_fili_kirschner.value}}" name="{{form_keys.fratture_falange_prossimale_fili_kirschner.value}}">
              
            <option value="endomidollari_anterogradi">Endomidollari anterogradi</option>
            <option value="endomidollari_retrogradi">Endomidollari retrogradi</option>
            <option value="trasversi">Trasversi</option>
            
          </select>

          <label for="{{form_keys.fratture_falange_prossimale_viti.value}}" class="form-label">Viti</label>
          <select class="form-select" id="{{form_keys.fratture_falange_prossimale_viti.value}}" name="{{form_keys.fratture_falange_prossimale_viti.value}}">
              
            <option value="endomidollari">Endomidollari </option>
            <option value="lag">lag</option>
          </select>
          
        </div>

        <div id="fratture_falange_prossimale_classificazione_radiografica" style="display: none;" >
          
          
          <h4>
            Classificazione
          </h4>

          <input type="text" name="{{form_keys.fratture_falange_prossimale_step1_valore.value}}"  id="{{form_keys.fratture_falange_prossimale_step1_valore.value}}" class="form-control" >


          <label for="{{form_keys.fratture_falange_prossimale_classificazione_radiografica_value.value}}" class="form-label">Classificazione Radiografica</label>
          <select class="form-select" id="{{form_keys.fratture_falange_prossimale_classificazione_radiografica_value.value}}" name="{{form_keys.fratture_falange_prossimale_classificazione_radiografica_value.value}}">
              
            <option value="prossimale">Prossimale </option>
            <option value="diafisaria">Diafisaria</option>
            <option value="sottocapitata">Sottocapitata </option>
            <option value="distale_articolare">Distale articolare</option>
          </select>

          <div id="fratture_falange_prossimale_diafisaria" style="display: none;">
            
            <label for="{{form_keys.fratture_falange_prossimale_diafisaria_value.value}}" class="form-label">Diafisaria Valore</label>

            <select class="form-select" id="{{form_keys.fratture_falange_prossimale_diafisaria_value.value}}" name="{{form_keys.fratture_falange_prossimale_diafisaria_value.value}}">
              <option value="Trasversa">Trasversa </option>
              <option value="Obliqua">Obliqua</option>
              <option value="multiframmentaria">Multiframmentaria </option>
            </select>

          </div>
        </div>


        <div class="mb-3">

          <h4>
            Selezionare i controlli futuri
          </h4>
        </div>
        {% include 'general/select_date.html' %}
      </div>
       
        
        <button type="submit" class="btn btn-primary">Prosegui per inserimento valori</button>
      </form>
    </div>      
  </div>

  <script>
    
    const jsonStringNames ='{{pathology_names_id_options | safe}}';
    var optionsByName = JSON.parse(jsonStringNames);
    console.log("SelectedPathology",selectedPathologyid);
    
    //Funzione che serve per nascondere a schermo i controlli non necessari
    //quando cambio patologia
    function hide_common_field(){
      $("#fratture_metacarpali_non_chirurgico").hide();
      $("#fratture_metacarpali_chirurgico").hide();
      $("#fratture_falange_prossimale_non_chirurgico").hide();
      $("#fratture_falange_prossimale_chirurgico").hide();

    }
    // Function to update options in the "Item" select based on the selected category
    function updateItemOptions() {
        const categorySelect = document.getElementById('pathology');
        const itemSelect = document.getElementById('pathology_type');
        const additionalFieldContainer = document.getElementById('additionalFieldContainer');
        const selectedCategory = categorySelect.value;

        hide_common_field();

        if(categorySelect.value==4){

          $("#fratture_falange_prossimale_classificazione_radiografica").show();
        }
        else{

         
          $("#fratture_falange_prossimale_classificazione_radiografica").hide();
          
        }

        if(categorySelect.value==3){

          $("#fratture_metacarpali_classificazione_radiografica").show();
        }
        else{

         
          $("#fratture_metacarpali_classificazione_radiografica").hide();
          
        }
        //Frattura Radio Distale
        if(categorySelect.value==2){

          $("#classificazione_radiografica").show();

        }else{

          $("#classificazione_radiografica").hide();

        }
        

        // Clear existing options
        itemSelect.innerHTML = '';
  
        var selectedOptions= optionsByName[selectedCategory];

        var name_array = selectedOptions["name"];
        var id_array= selectedOptions["id"];

        selectedPathologyid= selectedCategory;
        //Funzione presente nel file select_date. In pratica cambia la 
        //defaultDate del datepicker con quella selezionata dal paziente
        changeDefaultDate();
        console.log("UPDATE TIMELINE",selectedCategory);
        
        //il primo elemento della select è sempre l'opzione scegli
        const option = document.createElement('option');
        option.value = "";
          
        option.textContent = "---Scegli----";
        itemSelect.appendChild(option);


        for (var i =0; i < id_array.length + 1; i++){

          const option = document.createElement('option');
          option.value = id_array[i];
          
          option.textContent = name_array[i];
          itemSelect.appendChild(option);
          
        }
        console.log("ITEM SELECTED ", itemSelect.value);
        
      

        additionalFieldContainer.style.display = (itemSelect.value === 'Altro') ? 'block' : 'none';
    }
  
    function show_additional_field(){
      console.log("show_additional_field");
      const itemSelect = document.getElementById('pathology_type');
      additionalFieldContainer.style.display = (itemSelect.value === 'Altro') ? 'block' : 'none';
      

      console.log("PATHOLOGY TYPE ITEM SELECTED", itemSelect.value);
      if(itemSelect.value==5){
          
        console.log("frattura radio distale");
        $("#radio_distale_giorni").show();
      }else{
        $("#radio_distale_giorni").hide();
      }

      if(itemSelect.value==4 || itemSelect.value==5 || itemSelect.value==6){

        $("#classificazione_radiografica").show();
      }else{

        $("#classificazione_radiografica").hide();

      }

      //Fratture Metacarpali

            //Chirurgico
      if(itemSelect.value==7){

        $("#fratture_metacarpali_non_chirurgico").hide();
        $("#fratture_metacarpali_chirurgico").show();
      
      }

      if(itemSelect.value==8){
        $("#fratture_metacarpali_chirurgico").hide();
        $("#fratture_metacarpali_non_chirurgico").show();

      }

      
      if(itemSelect.value==9){

        $("#fratture_falange_prossimale_non_chirurgico").hide();
        $("#fratture_falange_prossimale_chirurgico").show();
      }
    

      if(itemSelect.value==10){
        $("#fratture_falange_prossimale_chirurgico").hide();
        $("#fratture_falange_prossimale_non_chirurgico").show();

      }
    }

    //Fratture Metacarpali Non chirurgico
    function value_mcpj(){
      const itemSelect = document.getElementById('fratture_metacarpali_non_chirirgico_mcpj');

      if(itemSelect.value==0){

        $("#fratture_metacarpali_non_chirirgico_mcpj_yes").hide();

      }
      else{

        $("#fratture_metacarpali_non_chirirgico_mcpj_yes").show();
      }

    }

    function value_pipj(){
      
      const itemSelect = document.getElementById('fratture_metacarpali_non_chirirgico_pipj');

      if(itemSelect.value==0){

        $("#fratture_metacarpali_non_chirirgico_pipj_yes").hide();

      }
      else{

        $("#fratture_metacarpali_non_chirirgico_pipj_yes").show();
      }

    }

    function metacarpale_diafisaria(){
      
      const itemSelect = document.getElementById('fratture_metacarpali_classificazione_radiografica_value');
      
      if(itemSelect.value=="diafisaria"){

        $("#fratture_metacarpali_diafisaria").show();
      }
      else{
        
        $("#fratture_metacarpali_diafisaria").hide();

      }
    }



    // Attach the function to the "change" event of the "pathology" select
    document.getElementById('pathology').addEventListener('input', updateItemOptions);
  
    // Attach the function to the "change" event of the "pathology_type" select
    document.getElementById('pathology_type').addEventListener('input', show_additional_field);
    
    //Metacarpali
    document.getElementById('fratture_metacarpali_non_chirirgico_mcpj').addEventListener('input', value_mcpj);
    document.getElementById('fratture_metacarpali_non_chirirgico_pipj').addEventListener('input', value_pipj);
    document.getElementById('fratture_metacarpali_classificazione_radiografica_value').addEventListener('input', metacarpale_diafisaria);
    
    //Falange_Prossimale

  
    updateItemOptions();
    

    function removeHiddenFormElements() {
      $('form input[type="text"], form select').each(function() {
          if (!$(this).is(':visible')) {
              $(this).remove();
          }
      });
    }

    // Attach event listener to form submit event
    $('form').submit(function() {
        removeHiddenFormElements();
    });


    $("#radio_distale_datepicker").datepicker({
      dateFormat: 'dd-mm-yy', // Set the date format
      changeMonth: true,
      defaultDate: new Date(),
      changeYear: true,
      showOn: "button", // Show the Datepicker when clicking the button
      buttonText: "",
      // Add more options as needed
  });


  </script>

{% endblock %}