{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-6 mb-6 col-lg-6">
  
      <h4 class="title mt-3">
        Seleziona la patologia da trattare
      </h4>


      <form action="{{ url_for('doctor.pathology') }}" method="post">
        
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3 mt-4">
            <label for="category" class="form-label">Patologia</label>
            <select class="form-select" id="pathology" name="pathology">

              {% for member in pathology %}
                <option value="{{member.value[0]}}">{{member.value[1]}}</option>
              {% endfor %}
            </select>
        </div>
  
        <div class="mb-3">
            <label for="pathology_type" class="form-label">Seleziona la patologia</label>
            <select class="form-select" id="pathology_type" name="pathology_type">
                <!-- Options will be dynamically populated based on the selected category -->
            </select>
        </div>
  
        <div class="mb-3" id="additionalFieldContainer" style="display: none;">
          <label for="additionalField" class="form-label">Additional Field</label>
          <input type="text" class="form-control" id="additionalField" name="additionalField">
        </div>
        <div class="mb-3">

          <h4>
            Selezionare i controlli futuri
          </h4>
        </div>
        <label class="form-label"><b>Controllo 1</b> Entro 2 settimane dalla data attuale</label> 
        {% include 'general/select_date.html' %}
      </div>
       
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>  


    
  </div>

  <script>
    
    const jsonString ='{{pathology_options | safe}}';
    var optionsByCategory = JSON.parse(jsonString);

    
    // Function to update options in the "Item" select based on the selected category
    function updateItemOptions() {
        const categorySelect = document.getElementById('pathology');
        const itemSelect = document.getElementById('pathology_type');
        const additionalFieldContainer = document.getElementById('additionalFieldContainer');
        const selectedCategory = categorySelect.value;
  
        // Clear existing options
        itemSelect.innerHTML = '';
  
        // Populate options based on the selected category
        optionsByCategory[selectedCategory].forEach(optionValue => {
            const option = document.createElement('option');
            option.value = option.textContent = optionValue;
            itemSelect.appendChild(option);
        });
        
        additionalFieldContainer.style.display = (itemSelect.value === 'Altro') ? 'block' : 'none';
    }
  
    function show_additional_field(){
      console.log("show_additional_field");
      const itemSelect = document.getElementById('pathology_type');
      additionalFieldContainer.style.display = (itemSelect.value === 'Altro') ? 'block' : 'none';
    }
  
  
    // Attach the function to the "change" event of the "pathology" select
    document.getElementById('pathology').addEventListener('change', updateItemOptions);
  
     // Attach the function to the "change" event of the "pathology_type" select
     document.getElementById('pathology_type').addEventListener('change', show_additional_field);
  
    // Initial population of the "pathology_type" select based on the default selected pathology
    updateItemOptions();
    

  </script>

{% endblock %}