
{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="row">
        <h2>Terapie Pazienti in Cura</h2>
        <table id="patientTable" class="table">
            <thead>
                <tr>
                    <th>Nome paziente</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for id,patient_name,id_pathology,pathology_name,id_pathology_type,pathology_type_name in pathology_list %}
                    <tr class="patientRow" >
                        <td>{{ patient_name }}</td>
                        <td>{{ pathology_type_name }}</td>
                        <td>
                            <form method="get" action="{{ url_for('doctor.patient_history', id_pathology=id_pathology,id_pathology_type=id_pathology_type) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button class="btn btn-success" type="submit">Vedi Storia {{id_pathology}}</button>
                            </form>    
                            </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}