{% extends "base.html" %}

{% block content %}


<div class="row">

    <div class="col-md-4 mb-4 col-lg-4">
   
        <h2>Compila il form per la patologia selezionata</h2>
        <form  method="POST">
            {{ form.csrf_token }}
            
            <!-- Add each field to the form -->
            {{ form.nprs_vas.label }}
            {{ form.nprs_vas }}
            
            {{ form.prom_arom_mcpj.label }}
            {{ form.prom_arom_mcpj }}
            
            {{ form.prom_arom_Ipj.label }}
            {{ form.prom_arom_Ipj }}
            
            {{ form.abduction.label }}
            {{ form.abduction }}
            
            {{ form.anterposition.label }}
            {{ form.anterposition }}
            
            {{ form.kapandji.label }}
            {{ form.kapandji }}
            
            {{ form.pinch.label }}
            {{ form.pinch }}
            
            {{ form.grip.label }}
            {{ form.grip }}
            
            {{ form.dash.label }}
            {{ form.dash }}
            
            {{ form.prwhe.label }}
            {{ form.prwhe }}
            
            {{ form.Eaton_littler.label }}
            {{ form.Eaton_littler }}
            
            {{ form.scar_status.label }}
            {{ form.scar_status }}
            
            {{ form.scar_type.label }}
            {{ form.scar_type }}
            
            {% if form.errors %}
            {{ form.errors }}
            {% endif %}
            
            <!-- Repeat the above lines for each form field -->

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>

</div>


{% endblock %}