<!-- templates/profile.html -->

{% extends "base.html" %}


{% block content %}

<h1 class="title mb-3">
  Buongiorno, dott {{ name }}!
</h1>

<!-- --------------------------ROW 1 ASSOCIAZIONI PAZIENTI ------------------------------- -->
<div class="row mb-5">
  <div class="col-md-2 mb-2 col-lg-3"></div>
  <div class="col-md-8 mb-8 col-lg-6">
      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

    <h4>
      Pazienti Attualmente in cura
    </h4>

    <table id="patientTable" class="table">
      <thead>
          <tr class="text-center">
              <th>ID</th>
              <th>Name</th>
              <th>Nuovo Controllo</th>
              <th>Storia Paziente</th>
              <th>Azioni</th>
              
          </tr>
      </thead>
      <tbody>
          {% for link, name in patients_list %}
              <tr class="patientRow text-center" data-patient-id="{{ link.id}}">
                  <td >{{ link.id }}</td>
                  <td>{{ name }}</td>
                  <td>
                    <form method="get" action="{{ url_for('doctor.medical_treatment', patient_id=link.id_patient, patient_name=name) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-success" type="submit">Crea</button>
                      </form>
                  </td>
                  <td>
                    <form method="get" action="{{ url_for('doctor.patient_treatment_list', patient_id=link.id_patient, patient_name=name) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-primary" type="submit">Vedi</button>
                      </form>
                  </td>
                  <td><button class="btn btn-danger sendLinkPatient" >Rimuovi</button></td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-md-2 mb-2 col-lg-3"></div>
</div>

<!-- --------------------------ROW 2 NOTIFICHE ------------------------------- -->
<h1 class="title mb-3">
 Notifiche ricevute
</h1>
<div class="row mb-5">
  
  <div class="col-md-8 mb-8 col-lg-6">
    <table id="notificationTable" class="table">
      <thead>
          <tr class="text-center">
              <th>Nome Paziente</th>
              <th>Data</th>
              <th>Stato</th>
          </tr>
      </thead>
      <tbody>
          {% for notification, username in sent_notifications %}
              <tr class="notificationRow text-center">
                  <td >{{ username }}</td>
                  <td>{{ notification.timestamp }}</td>
                  <td>{{ notification.status }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-2 mb-2 col-lg-3"></div>
</div>
 

<!-- --------------------------ROW 3 PROSSIMI INTERVENTI ------------------------------- -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="changeDateModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="changeDateModal">Modal Title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <!-- Modal content goes here -->
              <form class="edit-form" action="{{ url_for('doctor.change_date') }}" >
                {% include 'general/select_date.html' %}

                <input type="hidden" id="pathology_id_row" name="pathology_id_row" value="">
                <input type="hidden" id="pathology_type" name="pathology_type" value="1">
                <input type="submit" class="btn btn-primary" value="Submit">
              </form>
          </div>
          <div class="modal-footer">
          </div>
      </div>
  </div>
</div>

<h1 class="title mb-3">
  Prossimi appuntamenti
 </h1>

<div class="row">

  <div class="col-md-2 mb-2 col-lg-3"></div>
  <div class="col-md-8 mb-8 col-lg-6">
    Tabella che visualizza i prossimi controlli. Se sono Verdi signfica che il meeting è stato concordato con il Paziente
    Altrimenti il meeting è schedulato da Software, ma non concordato con il paziente
    
    <table id="nextControlsTable" class="table">
      <thead>
          <tr class="text-center">
            <th>Numero Controllo </th>
            <th>Nome Paziente</th>
            <th>Data Intervento</th>
            <th>Azioni</th>
            <th>Cambia</th>
          </tr>
      </thead>
      <tbody>
        {% for pathology, username,week_to_add in next_treatments %}
        <tr class="notificationRow text-center" data-item-id="{{pathology.id}}_{{ week_to_add }}">
            <td >{{ pathology.next_control_number }}</td>
            <td >{{ username }}</td>
            <td class="editable" data-field="next_control_date">
              <span class="content">{{ pathology.next_control_date }}</span>
          </td>
            <td>
              <form method="get" action="{{ url_for('doctor.next_control', patient_id=pathology.id_patient, patient_name=username,next_control_number=pathology.next_control_number,row_id_to_update=pathology.id,default_date=pathology.created_at) }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="btn btn-success" type="submit">Compila</button>
              </form>
            </td>
            <td class="open-modal-cell"><button class="btn btn-primary">Cambia Data</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-2 mb-2 col-lg-3"></div>
</div>



<script>
  
  var week_to_add;

  function customBeforeShowDay(d){
    
    var daysBefore= 3;
    var daysAfter=  4;
    
    specificDate= getSpecificDate(week_to_add);

    //Devo inizializzare il valore delle date con la data specifica dell'intervento altrimenti non funziona
    //Inizializzando la data con new Date() viene preso il mese di riferimento corrente e non quello futuro
    var beforeDate = new Date(specificDate);
    var afterDate = new Date(specificDate);      

    beforeDate.setDate(specificDate.getDate() - daysBefore);
    afterDate.setDate(specificDate.getDate() + daysAfter);
   
    console.log("Override onShadowDay");
    console.log(specificDate);

    // Check if the current date is within the specified range
    return [true, beforeDate <= d && d <= afterDate ? "calendar-highlight" : ""];      

  }

  $(function (){

    $(".open-modal-cell").click(function () {
        // Find the closest 'tr' (table row) to the clicked cell
        var selectedRow = $(this).closest('tr');

        // Access the 'data-item-id' attribute to get the item ID
        var itemsId = selectedRow.data('item-id').split("_");
        
        var pathology_id = parseInt(itemsId[0], 10);
        week_to_add  = parseInt(itemsId[1], 10);

        
        // Open the Bootstrap modal
        $('#myModal').modal('show');
        //valore che serve per cambiare la data
        $('#pathology_id_row').val(pathology_id);
        
        $('#changeDateModal').text('ATTENZIONE cambio della data:');


        //$("#datepicker").datepicker("setDate", "+" + newDefaultDate + "d");
    });
});
</script>

{% endblock %}