<!-- templates/profile.html -->

{% extends "base.html" %}


{% block content %}
<div class="row mb-5">
  <div class="col-12 d-flex align-items-center ">
    <h1 class="mb-3 ">
      Ciao, {{ name }}!
    </h1>
    <a href="{{ url_for('doctor.create_patient') }}" class="ms-3 btn btn-success" >
      Aggiungi Paziente
    </a>
</div>
</div>
<!-- --------------------------ROW 1 ASSOCIAZIONI PAZIENTI ------------------------------- -->



<div class="row mb-2">
  

  <div class="col-md-12 mb-12 col-lg-12">
    <h2 class="title mb-3" data-toggle="tooltip" data-placement="top" title="Qui sono visualizzati i prossimi controlli ordinati per paziente">
      Pazienti Attualmente in cura
    </h2>
  </div>
  
  <div class="col-md-1 mb-1 col-lg-2"></div>
</div>


<div class="row mb-5">
  <div class="col-md-12 mb-12 col-lg-12">
      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

    <table id="patientTable" class="table">
      <thead>
          <tr class="text-center">
              <th>Nome</th>
              <th>Nuovo Intervento</th>
              <th>Storia Paziente</th>
              <th>Impostazioni</th>
              <th>Azioni</th>

              
          </tr>
      </thead>
      <tbody>
          {% for link, name,surname in patients_list %}
              <tr class="patientRow text-center" data-patient-id="{{ link.id}}">
                  <td> {% if surname %}{{ surname }} {% endif %}{{ name }}</td>
                  <td>
                    <form method="get" action="{{ url_for('doctor.insert_pre_medical_treatment', patient_id=link.id_patient, patient_name=name) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-success" type="submit">Crea</button>
                      </form>
                  </td>
                  <td>
                    <form method="get" action="{{ url_for('doctor.patient_treatment_list', patient_id=link.id_patient, patient_name=name) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-primary" type="submit">Vedi</button>
                      </form>
                  </td>

                  <td>
                    <form method="get" action="{{ url_for('patient.settings_patient_doctor', patient_id=link.id_patient) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-success" type="submit">Cambia</button>
                      </form>
                  </td>
                  <td><button class="btn btn-danger sendLinkPatient" >Rimuovi</button></td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>



<!-- --------------------------ROW 2 FISSARE APPUNTAMENTO CHIRURGO ------------------------------- -->

<div class="row">
  

  <div class="col-md-12 mb-12 col-lg-12">
    <h2 class="title mb-3" data-toggle="tooltip" data-placement="top" title="Qui sono visualizzati i prossimi controlli ordinati per paziente">
      Da Fissare per Intervento
    </h2>
  </div>
  
  <div class="col-md-1 mb-1 col-lg-2"></div>
</div>


<div class="row">
  <div class="col-md-12 mb-12 col-lg-12">

    <table id="patientTable" class="table">
      <thead>
          <tr class="text-center">
             
              <th>Nome</th>
              <th>Patologia Intervento</th>
              <th>Aggiungi Controllo</th>
              <th>Data inserimento</th>

          </tr>
      </thead>
      <tbody>
          {% for pathology_data, patient_name,patient_surname, pathology_name in interventi_da_fissare %}
              <tr class="patientRow text-center" data-patient-id="{{ pathology_data.id}}">
                 
                  <td>{% if patient_surname %}{{ patient_surname }} {% endif %}{{ patient_name }}</td>
                  <td>
                      {{ pathology_name }}
                  </td>
                  <td>
                    <form method="POST" action="{{ url_for('doctor.medical_treatment')}}">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      <input type="hidden" name="patient_id" value="{{ pathology_data.id_patient }}">
                      <input type="hidden" name="patient_name" value="{{ patient_name }}">
                      <input type="hidden" name="pathology_id" value="{{ pathology_data.id_pathology }}">
                      <input type="hidden" name="row_id" value="{{ pathology_data.id }}">

                      <button class="btn btn-success" type="submit">Crea</button>
                    </form>
                  </td>
                  <td>{{pathology_data.created_at.strftime('%d-%m-%Y')}}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>

  </div>
</div>


<script>
  
  var week_to_add;
  var specificDate;

  function customBeforeShowDay(d){
    
    var daysBefore= 3;
    var daysAfter=  4;
    
    //Devo inizializzare il valore delle date con la data specifica dell'intervento altrimenti non funziona
    //Inizializzando la data con new Date() viene preso il mese di riferimento corrente e non quello futuro
    var beforeDate = new Date(specificDate);
    var afterDate = new Date(specificDate);      

    beforeDate.setDate(specificDate.getDate() - daysBefore);
    afterDate.setDate(specificDate.getDate() + daysAfter);
   
    console.log("Override onShadowDay");
    console.log(specificDate);

    // Check if the current date is within the specified range
    return [true, beforeDate <= d && d <= afterDate ? "calendar-highlight" : ""];      

  }

  $(function (){

    $(".open-modal-cell").click(function () {
        // Find the closest 'tr' (table row) to the clicked cell
        var selectedRow = $(this).closest('tr');

        // Access the 'data-item-id' attribute to get the item ID
        var itemsId = selectedRow.data('item-id').split("_");
        
        var pathology_id = parseInt(itemsId[0], 10);
        week_to_add  = parseInt(itemsId[1], 10);

        var next_control_date= itemsId[2];
        
        // Open the Bootstrap modal
        $('#myModal').modal('show');
        //valore che serve per cambiare la data
        $('#pathology_id_row').val(pathology_id);
        
        $('#changeDateModal').text('ATTENZIONE cambio della data:');

        var dateComponent = next_control_date.split(" ")[0];
        var dateComponents = next_control_date.split("-");

      // Create Date object
        specificDate =  new Date(
        parseInt(dateComponents[0], 10),
        parseInt(dateComponents[1], 10) - 1, // JavaScript months are 0-indexed
        parseInt(dateComponents[2], 10)
        );
        //devo costruire la default date in base al valore di settimane da aggiungere
        //non posso prendere la data della tabella direttamente perchè altrimenti l'utente
        //modificando la data più volte potrebbe spostare all'infinito il termine dell'incontro
        specificDate.setDate(specificDate.getDate() + (week_to_add*7))

        console.log("DATE TO SET", specificDate);
        
        //setto la prorietà default date del datepicker
        $("#datepicker").datepicker("option","defaultDate", specificDate);
        
    });
});
</script>

{% endblock %}