<!-- templates/profile.html -->

{% extends "base.html" %}


{% block content %}
<h1 class="title">
  Buongiorno, dott {{ name }}!
</h1>
<div class="row">
  <div class="col-md-6 mb-6 col-lg-4">
      
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

    <h4>
      Pazienti Attualmente in cura
    </h4>

    <table id="patientTable" class="table">
      <thead>
          <tr class="text-center">
              <th>ID</th>
              <th>Name</th>
              <th>Nuovo Controllo</th>
              <th>Storia Paziente</th>
              <th>Azioni</th>
              
          </tr>
      </thead>
      <tbody>
          {% for link, name in patients_list %}
              <tr class="patientRow text-center" data-patient-id="{{ link.id}}">
                  <td >{{ link.id }}</td>
                  <td>{{ name }}</td>
                  <td>
                    <form method="get" action="{{ url_for('doctor.medical_treatment', patient_id=link.id_patient, patient_name=name) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-success" type="submit">Crea</button>
                      </form>
                  </td>
                  <td>
                    <form method="get" action="{{ url_for('doctor.patient_treatment_list', patient_id=link.id_patient, patient_name=name) }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-primary" type="submit">Vedi</button>
                      </form>
                  </td>
                  <td><button class="btn btn-danger sendLinkPatient" >Rimuovi</button></td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-md-6 mb-6 col-lg-4">
    <table id="notificationTable" class="table">
      <thead>
          <tr class="text-center">
              <th>Nome Paziente</th>
              <th>Data</th>
              <th>Stato</th>
          </tr>
      </thead>
      <tbody>
          {% for notification, username in sent_notifications %}
              <tr class="notificationRow text-center">
                  <td >{{ username }}</td>
                  <td>{{ notification.timestamp }}</td>
                  <td>{{ notification.status }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
 



<div class="row">
  <div class="col-md-6 mb-6 col-lg-4">
    Tabella che visualizza i prossimi controlli. Se sono Verdi signfica che il meeting è stato concordato con il Paziente
    Altrimenti il meeting è schedulato da Software, ma non concordato con il paziente
    
    <table id="nextControlsTable" class="table">
      <thead>
          <tr class="text-center">
              <th>Nome Paziente</th>
              <th>Data Intervento</th>
              <th>Azioni</th>
          </tr>
      </thead>
      <tbody>
          
        <tr class="notificationRow text-center">
          <td >Marco Rossi</td>
          <td>16/01/2024</td>
          <td>                    
            <form method="get" action="#">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button class="btn btn-success" type="submit">Compila</button>
          </form>
          </td>

          {% for pathology, username in next_treatments %}
          <tr class="notificationRow text-center">
              <td >{{ username }}</td>
              <td>{{ pathology.next_control_date }}</td>
              <td>
                <form method="get" action="{{ url_for('doctor.next_control', patient_id=pathology.id_patient, patient_name=username,next_control_number=pathology.next_control_number) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button class="btn btn-success" type="submit">Compila</button>
                </form>
              </td>
          </tr>
      {% endfor %}
      
        </tr>
    
      </tbody>
    </table>
  </div>
</div>
 

{% endblock %}