

{{ pre_controls_form.hidden_lesione_selection}}

<div>
    <h3>Seleziona le aree di lesione ligamentosa</h3>
    <div>
        <p>Clicca all'interno dei rettangoli interessati per selezionarli o deselezionarli. Le aree selezionate verranno evidenziate.</p>
        <p><b>Ulnare</b> lesione verso il mignolo. <b>Radiale</b> lesione verso il pollice</p>
        
    </div>
    <svg id="interactiveImage" width="500" height="500" viewBox="0 0 500 500">
        <image href="{{ url_for('static', filename='lesione_ligamentosa.png') }}" width="500" height="500" />
        <!-- Multiple rectangles with unique IDs -->
        
        <!-- mignolo -->
        <text x="40" y="80" font-size="12" fill="black">DIPJ</text>
        <text x="40" y="92" font-size="12" fill="black">Radiale</text>
        <rect id="rect1" x="13" y="100" width="18" height="15" fill="transparent" data-id="1" />
        
        <text x="10" y="130" font-size="12" fill="black">PIPJ </text>
        <text x="10" y="142" font-size="12" fill="black">Ulnare </text>
        <rect id="rect2" x="22" y="149" width="18" height="15" fill="transparent" data-id="2" />
        
        <text x="80" y="225" font-size="12" fill="black">MCPJ </text>
        <text x="80" y="237" font-size="12" fill="black">Radiale </text>
        <rect id="rect3" x="49" y="245" width="18" height="15" fill="transparent" data-id="3" />    
        
        <text x="0" y="80" font-size="12" fill="black">DIPJ </text>
        <text x="0" y="94" font-size="12" fill="black">Ulnare </text>
        <rect id="rect4" x="40" y="100" width="18" height="15" fill="transparent" data-id="4" />
        
        <text x="45" y="130" font-size="12" fill="black">PIPJ </text>
        <text x="45" y="142" font-size="12" fill="black">Radiale </text>
        <rect id="rect5" x="48" y="144" width="18" height="15" fill="transparent" data-id="5" />
        
        <text x="30" y="225" font-size="12" fill="black">MCPJ </text>
        <text x="30" y="237" font-size="12" fill="black">Ulnare </text>
        <rect id="rect6" x="85" y="239" width="18" height="15" fill="transparent" data-id="6" />

        <!-- Anulare -->
        <rect id="rect7" x="142" y="36" width="18" height="15" fill="transparent" data-id="7" />
        <rect id="rect8" x="130" y="107" width="18" height="15" fill="transparent" data-id="8" />
        <rect id="rect9" x="117" y="234" width="18" height="15" fill="transparent" data-id="9" />
        <rect id="rect10" x="167" y="36" width="18" height="15" fill="transparent" data-id="10" />
        <rect id="rect11" x="158" y="107" width="18" height="15" fill="transparent" data-id="11" />
        <rect id="rect12" x="150" y="235" width="18" height="15" fill="transparent" data-id="12" />

        <!-- Medio -->
        <rect id="rect13" x="263" y="34" width="18" height="15" fill="transparent" data-id="13" />
        <rect id="rect14" x="228" y="105" width="18" height="15" fill="transparent" data-id="14" />
        <rect id="rect15" x="181" y="235" width="18" height="15" fill="transparent" data-id="15" />
        <rect id="rect16" x="292" y="36" width="18" height="15" fill="transparent" data-id="16" />
        <rect id="rect17" x="261" y="105" width="18" height="15" fill="transparent" data-id="17" />
        <rect id="rect18" x="215" y="241" width="18" height="15" fill="transparent" data-id="18" />
        
        <!-- Indice -->
        
        <rect id="rect19" x="380" y="109" width="18" height="15" fill="transparent" data-id="19" />
        <rect id="rect20" x="335" y="157" width="18" height="15" fill="transparent" data-id="20" />
        <rect id="rect21" x="249" y="247" width="18" height="15" fill="transparent" data-id="21" />
        <rect id="rect22" x="407" y="125" width="18" height="15" fill="transparent" data-id="22" />
        <rect id="rect23" x="361" y="175" width="18" height="15" fill="transparent" data-id="23" />
        <rect id="rect24" x="283" y="260" width="18" height="15" fill="transparent" data-id="24" />

        <!-- Pollice -->
        <rect id="rect25" x="269" y="396" width="18" height="15" fill="transparent" data-id="25" />
        <rect id="rect26" x="430" y="373" width="18" height="15" fill="transparent" data-id="26" />
        <rect id="rect27" x="280" y="431" width="18" height="15" fill="transparent" data-id="27" />
        <rect id="rect28" x="420" y="401" width="18" height="15" fill="transparent" data-id="28" />

    </svg>
</div>
<script>

const currentSelection = {};
const indicesLabels = {{ indices_labels|tojson }};
// Define a default color to toggle on
const colors = {
    "1": "rgba(255, 0, 0, 0.5)",  // Red
    "2": "rgba(255, 0, 0, 0.5)",  // Green
    "3": "rgba(255, 0, 0, 0.5)",   // Blue
    "4": "rgba(255, 0, 0, 0.5)",  // Red
    "5": "rgba(255, 0, 0, 0.5)",  // Green
    "6": "rgba(255, 0, 0, 0.5)",   // Blue
    "7": "rgba(255, 0, 0, 0.5)",  // Red
    "8": "rgba(255, 0, 0, 0.5)",  // Green
    "9": "rgba(255, 0, 0, 0.5)",   // Blue
    "10": "rgba(255, 0, 0, 0.5)",  // Red
    "11": "rgba(255, 0, 0, 0.5)",  // Green
    "12": "rgba(255, 0, 0, 0.5)",   // Blue
    "13": "rgba(255, 0, 0, 0.5)",  // Red
    "14": "rgba(255, 0, 0, 0.5)",  // Green
    "15": "rgba(255, 0, 0, 0.5)",   // Blue
    "16": "rgba(255, 0, 0, 0.5)",  // Red
    "17": "rgba(255, 0, 0, 0.5)",  // Green
    "18": "rgba(255, 0, 0, 0.5)",   // Blue
    "19": "rgba(255, 0, 0, 0.5)",  // Red
    "20": "rgba(255, 0, 0, 0.5)",   //Green
    "21": "rgba(255, 0, 0, 0.5)",   // Blue   
    "22": "rgba(255, 0, 0, 0.5)",
    "23": "rgba(255, 0, 0, 0.5)",
    "24": "rgba(255, 0, 0, 0.5)",
    "25": "rgba(255, 0, 0, 0.5)",
    "26": "rgba(255, 0, 0, 0.5)",
    "27": "rgba(255, 0, 0, 0.5)", 
    "28": "rgba(255, 0,0, 0.5)"   // Blue
};

const mapping = {
    "1": "R_DIPJ_"+indicesLabels["MIGNOLO"],
    "2": "R_PIPJ_"+indicesLabels["MIGNOLO"],
    "3": "R_MCPJ_"+indicesLabels["MIGNOLO"],
    "4": "U_DIPJ_"+indicesLabels["MIGNOLO"],
    "5": "U_PIPJ_"+indicesLabels["MIGNOLO"],
    "6": "U_MCPJ_"+indicesLabels["MIGNOLO"],
    "7": "R_DIPJ_"+indicesLabels["ANULARE"],
    "8": "R_PIPJ_"+indicesLabels["ANULARE"],
    "9": "R_MCPJ_"+indicesLabels["ANULARE"],
    "10": "U_DIPJ_"+indicesLabels["ANULARE"],
    "11": "U_PIPJ_"+indicesLabels["ANULARE"],
    "12": "U_MCPJ_"+indicesLabels["ANULARE"],
    "13": "R_DIPJ_"+indicesLabels["MEDIO"],
    "14": "R_PIPJ_"+indicesLabels["MEDIO"],
    "15": "R_MCPJ_"+indicesLabels["MEDIO"],
    "16": "U_DIPJ_"+indicesLabels["MEDIO"],
    "17": "U_PIPJ_"+indicesLabels["MEDIO"],
    "18": "U_MCPJ_"+indicesLabels["MEDIO"],
    "19": "R_DIPJ_"+indicesLabels["INDICE"],
    "20": "R_PIPJ_"+indicesLabels["INDICE"],
    "21": "R_MCPJ_"+indicesLabels["INDICE"],
    "22": "U_DIPJ_"+indicesLabels["INDICE"],
    "23": "U_PIPJ_"+indicesLabels["INDICE"],
    "24": "U_MCPJ_"+indicesLabels["INDICE"],
    "25": "R_IPJ_"+indicesLabels["POLLICE"],
    "26": "R_MCPJ_"+indicesLabels["POLLICE"],
    "27": "U_IPJ_"+indicesLabels["POLLICE"],
    "28": "U_IPJ_"+indicesLabels["POLLICE"]
};

document.getElementById("interactiveImage").addEventListener("click", function(event) {
    if (event.target.tagName === "rect") {
        const rect = event.target;
        const rectId = rect.getAttribute("data-id");

        // Get the mapping
        const mappingValue = mapping[rectId];
        
       if (mappingValue in currentSelection) {
            // Remove the mapping
            delete currentSelection[mappingValue];
        } else {
            // Add the mapping
            currentSelection[mappingValue] = rectId;
        }
        console.log("Current selection", currentSelection);
        document.getElementById("hidden_lesione_selection").value = JSON.stringify(currentSelection);
        console.log("Current selection", currentSelection);

        // Check if the rectangle is already colored
        if (rect.getAttribute("fill") === "transparent") {
            // Add color
            rect.setAttribute("fill", colors[rectId]);
          
        } else {
            // Remove color (make it transparent again)
            rect.setAttribute("fill", "transparent");
           
        }
    }
});
</script>