


{{ pre_controls_form.numero_interventi.label }}
{{ pre_controls_form.numero_interventi}}


{{ pre_controls_form.hidden_hand_selection}}

<div>
<svg id="interactiveImage" width="500" height="500" viewBox="0 0 500 500">
    <image href="{{ url_for('static', filename='dupuytren.png') }}" width="500" height="500" />
    <!-- Multiple rectangles with unique IDs -->
    
    <!-- mignolo -->
    <rect id="rect1" x="36" y="169" width="30" height="23" fill="transparent" data-id="1" />
    <rect id="rect2" x="51" y="212" width="30" height="23" fill="transparent" data-id="2" />
    <rect id="rect3" x="62" y="255" width="30" height="23" fill="transparent" data-id="3" />
    <rect id="rect4" x="77" y="166" width="30" height="23" fill="transparent" data-id="4" />
    <rect id="rect5" x="90" y="208" width="30" height="23" fill="transparent" data-id="5" />
    <rect id="rect6" x="105" y="252" width="30" height="23" fill="transparent" data-id="6" />

    <!-- Anulare -->
    <rect id="rect7" x="110" y="88" width="30" height="23" fill="transparent" data-id="7" />
    <rect id="rect8" x="117" y="147" width="30" height="23" fill="transparent" data-id="8" />
    <rect id="rect9" x="135" y="224" width="30" height="23" fill="transparent" data-id="9" />
    <rect id="rect10" x="153" y="86" width="30" height="23" fill="transparent" data-id="10" />
    <rect id="rect11" x="163" y="146" width="30" height="23" fill="transparent" data-id="11" />
    <rect id="rect12" x="174" y="217" width="30" height="23" fill="transparent" data-id="12" />

    <!-- Medio -->
    <rect id="rect13" x="203" y="63" width="30" height="23" fill="transparent" data-id="13" />
    <rect id="rect14" x="203" y="125" width="30" height="23" fill="transparent" data-id="14" />
    <rect id="rect15" x="208" y="211" width="30" height="23" fill="transparent" data-id="15" />
    <rect id="rect16" x="245" y="64" width="30" height="23" fill="transparent" data-id="16" />
    <rect id="rect17" x="252" y="129" width="30" height="23" fill="transparent" data-id="17" />
    <rect id="rect18" x="241" y="211" width="30" height="23" fill="transparent" data-id="18" />
    
    <!-- Indice -->
    
    <rect id="rect19" x="302" y="96" width="30" height="23" fill="transparent" data-id="19" />
    <rect id="rect20" x="288" y="152" width="30" height="23" fill="transparent" data-id="20" />
    <rect id="rect21" x="279" y="215" width="30" height="23" fill="transparent" data-id="21" />
    <rect id="rect22" x="348" y="105" width="30" height="23" fill="transparent" data-id="22" />
    <rect id="rect23" x="339" y="162" width="30" height="23" fill="transparent" data-id="23" />
    <rect id="rect24" x="315" y="228" width="30" height="23" fill="transparent" data-id="24" />

    <!-- Pollice -->
    <rect id="rect25" x="350" y="350" width="30" height="23" fill="transparent" data-id="25" />
    <rect id="rect26" x="408" y="315" width="30" height="23" fill="transparent" data-id="26" />
    <rect id="rect27" x="376" y="427" width="30" height="23" fill="transparent" data-id="27" />
    <rect id="rect28" x="434" y="379" width="30" height="23" fill="transparent" data-id="28" />

</svg>
</div>
<script>

const currentSelection = {};
// Define a default color to toggle on
const colors = {
    "1": "rgba(255, 0, 0, 0.5)",  // Red
    "2": "rgba(0, 255, 0, 0.5)",  // Green
    "3": "rgba(0, 0, 255, 0.5)",   // Blue
    "4": "rgba(255, 0, 0, 0.5)",  // Red
    "5": "rgba(0, 255, 0, 0.5)",  // Green
    "6": "rgba(0, 0, 255, 0.5)",   // Blue
    "7": "rgba(255, 0, 0, 0.5)",  // Red
    "8": "rgba(0, 255, 0, 0.5)",  // Green
    "9": "rgba(0, 0, 255, 0.5)",   // Blue
    "10": "rgba(255, 0, 0, 0.5)",  // Red
    "11": "rgba(0, 255, 0, 0.5)",  // Green
    "12": "rgba(0, 0, 255, 0.5)",   // Blue
    "13": "rgba(255, 0, 0, 0.5)",  // Red
    "14": "rgba(0, 255, 0, 0.5)",  // Green
    "15": "rgba(0, 0, 255, 0.5)",   // Blue
    "16": "rgba(255, 0, 0, 0.5)",  // Red
    "17": "rgba(0, 255, 0, 0.5)",  // Green
    "18": "rgba(0, 0, 255, 0.5)",   // Blue
    "19": "rgba(255, 0, 0, 0.5)",  // Red
    "20": "rgba(0, 255, 0, 0.5)",   //Green
    "21": "rgba(0, 0, 255, 0.5)",   // Blue   
    "22": "rgba(255, 0, 0, 0.5)",
    "23": "rgba(0, 255, 0, 0.5)",
    "24": "rgba(0, 0, 255, 0.5)",
    "25": "rgba(0, 255, 0, 0.5)",
    "26": "rgba(255, 0, 0, 0.5)",
    "27": "rgba(0, 255, 0, 0.5)", 
    "28": "rgba(255, 0,0, 0.5)"   // Blue
};

const mapping = {
    "1": "R_DIPJ_Mignolo",
    "2": "R_PIPJ_Mignolo",
    "3": "R_MCPJ_Mignolo",
    "4": "U_DIPJ_Mignolo",
    "5": "U_PIPJ_Mignolo",
    "6": "U_MCPJ_Mignolo",
    "7": "R_DIPJ_Anulare",
    "8": "R_PIPJ_Anulare",
    "9": "R_MCPJ_Anulare",
    "10": "U_DIPJ_Anulare",
    "11": "U_PIPJ_Anulare",
    "12": "U_MCPJ_Anulare",
    "13": "R_DIPJ_Medio",
    "14": "R_PIPJ_Medio",
    "15": "R_MCPJ_Medio",
    "16": "U_DIPJ_Medio",
    "17": "U_PIPJ_Medio",
    "18": "U_MCPJ_Medio",
    "19": "R_DIPJ_Indice",
    "20": "R_PIPJ_Indice",
    "21": "R_MCPJ_Indice",
    "22": "U_DIPJ_Indice",
    "23": "U_PIPJ_Indice",
    "24": "U_MCPJ_Indice",
    "25": "R_IPJ_Pollice",
    "26": "R_MCPJ_Pollice",
    "27": "U_IPJ_Pollice",
    "28": "U_IPJ_Pollice"
};

document.getElementById("interactiveImage").addEventListener("click", function(event) {
    if (event.target.tagName === "rect") {
        const rect = event.target;
        const rectId = rect.getAttribute("data-id");

        // Get the mapping
        const mappingValue = mapping[rectId];
        
       if (mappingValue in currentSelection) {
            // Remove the mapping
            delete currentSelection[mappingValue];
        } else {
            // Add the mapping
            currentSelection[mappingValue] = rectId;
        }
        
        document.getElementById("hidden_hand_selection").value = JSON.stringify(currentSelection);
        console.log("Current selection", currentSelection);

        // Check if the rectangle is already colored
        if (rect.getAttribute("fill") === "transparent") {
            // Add color
            rect.setAttribute("fill", colors[rectId]);
          
        } else {
            // Remove color (make it transparent again)
            rect.setAttribute("fill", "transparent");
           
        }
    }
});
</script>