{% for index in range(form.altro | length) %}
    {% if index in controls_map.altro.indices %}
        <fieldset>
            <legend>Altro</legend>
            
            <div class="form-grid">
                <!-- Field 1 -->
                <div class="grid-item">
                    <label>{{ form.altro[index].complicanze.label }}</label>
                    {{ form.altro[index].complicanze }}
                    {% for error in form.altro[index].complicanze.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
            </div>

            <div class="form-grid">
                   <div class="grid-item" style="grid-column: span 2;">
                    <label>{{ form.altro[index].note.label }}</label>
                    {{ form.altro[index].note }}
                    {% for error in form.altro[index].note.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

            </div>

                
            </div>
        </fieldset>
    {% endif %}
{% endfor %}