<!-- -------------------------1------------------ -->
<fieldset>
    <legend>Dash</legend>

<table class="dash">
    <thead>
        <tr>
            <th></th>
            <th>Nessuna Difficoltà 1</th>
            <th>Lieve Difficoltà 2</th>
            <th>Discreta Difficoltà 3</th>
            <th>Notevole Difficoltà 4</th>
            <th>Non ci sono riuscito 5</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.dash.first_dash.rows, controls_map.dash.labels.labels_1) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>

<!-- -------------------------2------------------ -->
<table class="dash">
    <thead>
        <tr>
            <th></th>
            <th>Per Nulla  1</th>
            <th>Molto Poco 2</th>
            <th>Un pò 3</th>
            <th>Molto 4</th>
            <th>Moltissimo 5</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.dash.second_dash.rows, controls_map.dash.labels.labels_2) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>

<!-- -------------------------3------------------ -->
<table class="dash">
    <thead>
        <tr>
            <th></th>
            <th>Nom mi ha limitato per nulla  1</th>
            <th>Mi ha limitato leggermente 2</th>
            <th>Mi ha limitato discretamente 3</th>
            <th>Mi ha limitato molto</th>
            <th>Non ci sono riuscito 5</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.dash.third_dash.rows, controls_map.dash.labels.labels_3) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>

<!-- -------------------------4------------------ -->
<table class="dash">
    <thead>
        <tr>
            <th></th>
            <th>Nessuno 1</th>
            <th>Lieve 2</th>
            <th>Discreto 3</th>
            <th>Forte 4</th>
            <th>Estremo 5</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.dash.fourth_dash.rows, controls_map.dash.labels.labels_4) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>


<!-- -------------------------5------------------ -->
<table class="dash">
    <thead>
        <tr>
            <th></th>
            <th>Nessuna difficoltà  1</th>
            <th>Lieve difficoltà 2</th>
            <th>Discreta difficoltà 3</th>
            <th>Notevole difficoltà 4</th>
            <th>Non sono riuscito a dormire 5</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.dash.fifth_dash.rows, controls_map.dash.labels.labels_5) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>


<!-- -------------------------6------------------ -->
<table class="dash">
    <thead>
        <tr>
            <th></th>
            <th>Non sono assolutamente d'accordo 1</th>
            <th>Non sono d'accordo 2</th>
            <th>Non saprei 3</th>
            <th>Sono d'accordo 4</th>
            <th>Sono assolutamente d'accordo 5</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.dash.sixth_dash.rows, controls_map.dash.labels.labels_6) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>

</fieldset>