{% for index in range(form.dipj_list | length) %}
    {% if index in controls_map.dipj.indices %}
         <fieldset>
            <legend>Misurazione dipj Dito {{ index }}</legend>

            <label>{{ form.dipj_list[index].arom_estensione.label }}</label>
            {{ form.dipj_list[index].arom_estensione }}
            
            {% for error in form.dipj_list[index].arom_estensione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <label>{{ form.dipj_list[index].arom_flessione.label }}</label>
            {{ form.dipj_list[index].arom_flessione }}
            {% for error in form.dipj_list[index].arom_flessione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <label>{{ form.dipj_list[index].prom_estensione.label }}</label>
            {{ form.dipj_list[index].prom_estensione }}
            {% for error in form.dipj_list[index].prom_estensione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <label>{{ form.dipj_list[index].prom_flessione.label }}</label>
            {{ form.dipj_list[index].prom_flessione }}
            {% for error in form.dipj_list[index].prom_flessione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <hr>
    {% endif %}
{% endfor %}