{% for index in range(form.guarigione_ossea | length) %}
    {% if index in controls_map.guarigione_ossea.indices %}
        <fieldset>
            <legend>Guarigione Ossea</legend>
            
            <div class="form-grid">
                <!-- Field 1 -->
                <div class="grid-item">
                    <label>{{ form.guarigione_ossea[index].guarigione.label }}</label>
                    {{ form.guarigione_ossea[index].guarigione }}
                    {% for error in form.guarigione_ossea[index].guarigione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    

                <!-- Field 2 -->
                <div class="grid-item">
                    <label>{{ form.guarigione_ossea[index].data_guarigione.label }}</label>
                    {{ form.guarigione_ossea[index].data_guarigione }}
                    {% for error in form.guarigione_ossea[index].data_guarigione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <!-- Field 3 -->
                <div class="grid-item">
                    <label>{{ form.guarigione_ossea[index].options.label }}</label>
                    {{ form.guarigione_ossea[index].options }}
                    {% for error in form.guarigione_ossea[index].options.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
        </fieldset>
    {% endif %}
{% endfor %}