{% for index in range(form.mpcj_list | length) %}
    {% if index in selected_indices %}
        <fieldset>
            <legend>Misurazione Mpcj Dito {{ index }}</legend>

            <label>{{ form.mpcj_list[index].Arom_Estensione.label }}</label>
            {{ form.mpcj_list[index].Arom_Estensione }}
            
            {% for error in form.mpcj_list[index].Arom_Estensione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <label>{{ form.mpcj_list[index].Arom_Flessione.label }}</label>
            {{ form.mpcj_list[index].Arom_Flessione }}
            {% for error in form.mpcj_list[index].Arom_Flessione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <label>{{ form.mpcj_list[index].Prom_Estensione.label }}</label>
            {{ form.mpcj_list[index].Prom_Estensione }}
            {% for error in form.mpcj_list[index].Prom_Estensione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <label>{{ form.mpcj_list[index].Prom_Flessione.label }}</label>
            {{ form.mpcj_list[index].Prom_Flessione }}
            {% for error in form.mpcj_list[index].Prom_Flessione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <hr>
    {% endif %}
{% endfor %}