{% for index in range(form.pipj_list | length) %}
    {% if index in controls_map.pipj.indices %}
        <fieldset>
            <legend>Misurazione pipj Dito {{ index }}</legend>

            <label>{{ form.pipj_list[index].arom_estensione.label }}</label>
            {{ form.pipj_list[index].arom_estensione }}
            
            {% for error in form.pipj_list[index].arom_estensione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <label>{{ form.pipj_list[index].arom_flessione.label }}</label>
            {{ form.pipj_list[index].arom_flessione }}
            {% for error in form.pipj_list[index].arom_flessione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <label>{{ form.pipj_list[index].prom_estensione.label }}</label>
            {{ form.pipj_list[index].prom_estensione }}
            {% for error in form.pipj_list[index].prom_estensione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            
            <label>{{ form.pipj_list[index].prom_flessione.label }}</label>
            {{ form.pipj_list[index].prom_flessione }}
            {% for error in form.pipj_list[index].prom_flessione.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </fieldset>
        <hr>
    {% endif %}
{% endfor %}