{% for index in range(form.pipj | length) %}
    {% if index in controls_map.pipj.indices %}
        <fieldset>
            <legend>{{controls_map.pipj.names[index]}}</legend>

            <div class="form-grid">

                <div class="grid-item">
                    <label>{{ form.pipj[index].arom_estensione.label }}</label>
                    {{ form.pipj[index].arom_estensione }}
                    {% for error in form.pipj[index].arom_estensione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="grid-item">
                    <label>{{ form.pipj[index].arom_flessione.label }}</label>
                    {{ form.pipj[index].arom_flessione }}
                    {% for error in form.pipj[index].arom_flessione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>  

                <div class="grid-item">
                    <label>{{ form.pipj[index].prom_estensione.label }}</label>
                    {{ form.pipj[index].prom_estensione }}
                    {% for error in form.pipj[index].prom_estensione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}    
                </div>

                <div class="grid-item">
                    <label>{{ form.pipj[index].prom_flessione.label }}</label>
                    {{ form.pipj[index].prom_flessione }}
                    {% for error in form.pipj[index].prom_flessione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
        </fieldset>
        <hr>
    {% else %}
    <div style="display:none;">
                <fieldset>
            <legend>{{controls_map.pipj.names[index]}}</legend>

            <div class="form-grid">
                <div class="grid-item">
                    <label>{{ form.pipj[index].arom_estensione.label }}</label>
                    {{ form.pipj[index].arom_estensione }}
                    {% for error in form.pipj[index].arom_estensione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="grid-item">
                    <label>{{ form.pipj[index].arom_flessione.label }}</label>
                    {{ form.pipj[index].arom_flessione }}
                    {% for error in form.pipj[index].arom_flessione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>  

                <div class="grid-item">
                    <label>{{ form.pipj[index].prom_estensione.label }}</label>
                    {{ form.pipj[index].prom_estensione }}
                    {% for error in form.pipj[index].prom_estensione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}    
                </div>

                <div class="grid-item">
                    <label>{{ form.pipj[index].prom_flessione.label }}</label>
                    {{ form.pipj[index].prom_flessione }}
                    {% for error in form.pipj[index].prom_flessione.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
        </fieldset>
    </div>    
    {% endif %}
{% endfor %}