<!-- -------------------------1------------------ -->
<fieldset>
    <legend>PRWHE</legend>


<table class="prwhe">
    <thead>
        <tr>
            <th>Misuri sulla scala da 0 a 10 l’intensità di dolore che quantifica la sintomatologia media del polso/mano nell’ultima settimana.
                Metta una crocetta sul numero che descrive l’intensità del suo dolore nell’ultima settimana.
                Zero significa nessun dolore e 10 significa massimo dolore .
                (Per massimo dolore intendiamo il dolore più intenso mai provato o quello che impedisce di compiere l’azione richiesta.)</th>
            <th>Nessuna Difficoltà 1</th>
            <th> 2</th>
            <th> 3</th>
            <th> 4</th>
            <th> 5</th>
            <th> 6</th>
            <th> 7</th>
            <th> 8</th>
            <th> 9</th>
            <th>Difficoltà massima 10</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.prwhe.first_prwhe.rows, controls_map.prwhe.labels.labels_1) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>

<!-- -------------------------2------------------ -->
<table class="prwhe">
    <thead>
        <tr>
            <th>Stimi l’intensità del dolore</th>
            <th>Mai 1</th>
            <th> 2</th>
            <th> 3</th>
            <th> 4</th>
            <th> 5</th>
            <th> 6</th>
            <th> 7</th>
            <th> 8</th>
            <th> 9</th>
            <th>Sempre 10</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.prwhe.second_prwhe.rows, controls_map.prwhe.labels.labels_2) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>

<!-- -------------------------3------------------ -->
<table class="prwhe">
    <thead>
        <tr>
            <th>Stimi sulla scala da 0 a 10 la difficoltà avvertita nell’ultima settimana eseguendo una delle seguenti azioni specifiche.
                Metta una crocetta sul numero che descrive la difficoltà ad eseguire l’azione nell’ultima settimana.
                Zero significa nessuna difficoltà e 10 significa massima difficoltà (cioè che l’attività specifica non era eseguibile).</th>
            <th>Nessuna Difficoltà 1</th>
            <th> 2</th>
            <th> 3</th>
            <th> 4</th>
            <th> 5</th>
            <th> 6</th>
            <th> 7</th>
            <th> 8</th>
            <th> 9</th>
            <th>Difficoltà massima 10</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.prwhe.third_prwhe.rows, controls_map.prwhe.labels.labels_3) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>

<!-- -------------------------4------------------ -->


<table class="prwhe">
    <thead>
        <tr>
            <th>Misuri sulla scala da 0 a 10 la difficoltà avvertita nell’ultima settimana eseguendo le attività della vita quotidiana.
                Attività “usuale”significa attività della vita quotidiana svolta prima di avere una problema con il polso o con la mano.
                Metta una crocetta sul numero che descrive la difficoltà ad eseguire l’azione nell’ultima settimana.
                Zero significa nessun difficoltà e 10 significa massima difficoltà (cioè che l’attività specifica non era eseguibile). </th>
            <th>Nessuna Difficoltà 1</th>
            <th> 2</th>
            <th> 3</th>
            <th> 4</th>
            <th> 5</th>
            <th> 6</th>
            <th> 7</th>
            <th> 8</th>
            <th> 9</th>
            <th>Difficoltà massima 10</th>
        </tr>
    </thead>
    <tbody>
        {% for row_form,label in zip(form.prwhe.fourth_prwhe.rows, controls_map.prwhe.labels.labels_4) %}
    <tr>
        <td>{{label[1]}}. {{label[0]}}</td>
        {% for choice in row_form.options.choices %}
            <td>
                <input 
                    type="radio" 
                    name="{{ row_form.options.name }}" 
                    value="{{ choice[0] }}" 
                    {% if row_form.options.data == choice[0] %} checked {% endif %}>
                <!-- Label can be displayed optionally -->
            </td>
        {% endfor %}
    </tr>
{% endfor %}
    </tbody>
</table>

</fieldset>