{% for index in range(form.prwhe | length) %}
    {% if index in controls_map.prwhe.indices %}
        <fieldset>
            <h2>Prwhe</h2>
                <legend>Dolore</legend>
                <div class="form-grid-2">
                    <div class="grid-item-2">
                        <label>{{ form.prwhe[index].dolore_riposo.label }}</label>
                        {{ form.prwhe[index].dolore_riposo }}
                        {% for error in form.prwhe[index].dolore_riposo.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="grid-item-2">
                        <label>{{ form.prwhe[index].dolore_movimenti_ripetuti.label }}</label>
                        {{ form.prwhe[index].dolore_movimenti_ripetuti }}
                        {% for error in form.prwhe[index].dolore_movimenti_ripetuti.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>    
                    <div class="grid-item-2">
                        <label>{{ form.prwhe[index].dolore_sollevando.label }}</label>
                        {{ form.prwhe[index].dolore_sollevando }}
                        {% for error in form.prwhe[index].dolore_sollevando.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>    
                    <div class="grid-item-2">
                        <label>{{ form.prwhe[index].dolore_piu_male.label }}</label>
                        {{ form.prwhe[index].dolore_piu_male }}
                        {% for error in form.prwhe[index].dolore_piu_male.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>    
                    <div class="grid-item-2">
                        <label>{{ form.prwhe[index].dolore_avverto_dolore.label }}</label>
                        {{ form.prwhe[index].dolore_avverto_dolore }}
                        {% for error in form.prwhe[index].dolore_avverto_dolore.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>    
            
                </div>
            
            </fieldset>
            <fieldset>
                <legend>Funzione</legend>
            <div class="form-grid-2">
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzionea_maniglia.label }}</label>
                    {{ form.prwhe[index].funzionea_maniglia }}
                    {% for error in form.prwhe[index].funzionea_maniglia.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzionea_tagliare.label }}</label>
                    {{ form.prwhe[index].funzionea_tagliare }}
                    {% for error in form.prwhe[index].funzionea_tagliare.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzionea_bottoni.label }}</label>
                    {{ form.prwhe[index].funzionea_bottoni }}
                    {% for error in form.prwhe[index].funzionea_bottoni.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzionea_sedia.label }}</label>
                    {{ form.prwhe[index].funzionea_sedia }}
                    {% for error in form.prwhe[index].funzionea_sedia.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzionea_portare_oggetto.label }}</label>
                    {{ form.prwhe[index].funzionea_portare_oggetto }}
                    {% for error in form.prwhe[index].funzionea_portare_oggetto.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzionea_carta_igienica.label }}</label>
                    {{ form.prwhe[index].funzionea_carta_igienica }}
                    {% for error in form.prwhe[index].funzionea_carta_igienica.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzioneb_cura_persona.label }}</label>
                    {{ form.prwhe[index].funzioneb_cura_persona }}
                    {% for error in form.prwhe[index].funzioneb_cura_persona.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzioneb_lavori_domestici.label }}</label>
                    {{ form.prwhe[index].funzioneb_lavori_domestici }}
                    {% for error in form.prwhe[index].funzioneb_lavori_domestici.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzioneb_lavoro.label }}</label>
                    {{ form.prwhe[index].funzioneb_lavoro }}
                    {% for error in form.prwhe[index].funzioneb_lavoro.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].funzioneb_attivita_ricreative.label }}</label>
                    {{ form.prwhe[index].funzioneb_attivita_ricreative }}
                    {% for error in form.prwhe[index].funzioneb_attivita_ricreative.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    

            </div>
            </fieldset>
            <fieldset>
                <legend>Valore Prwhe</legend>
            <div class="form-grid-2">
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].aderente.label }}</label>
                    {{ form.prwhe[index].aderente }}
                    {% for error in form.prwhe[index].aderente.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].aspetto_estetico.label }}</label>
                    {{ form.prwhe[index].aspetto_estetico }}
                    {% for error in form.prwhe[index].aspetto_estetico.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>    
                <div class="grid-item-2">
                    <label>{{ form.prwhe[index].valore_prwhe.label }}</label>
                    {{ form.prwhe[index].valore_prwhe }}
                    {% for error in form.prwhe[index].valore_prwhe.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>        

            </div>
        </fieldset>
    {% endif %}
{% endfor %}

<script>

    document.addEventListener('DOMContentLoaded', () => {
        // Get all inputs with the class 'prwhe-input'
        const dolore = document.querySelectorAll('input[id*="dolore"]');
        const funzione_a = document.querySelectorAll('input[id*="funzionea"]');
        const funzione_b = document.querySelectorAll('input[id*="funzioneb"]');
    
        const calculateSum = () => {
            let sum_dolore = 0;
            dolore.forEach(input => {
                const value = parseFloat(input.value) || 0; // Use 0 if the input is empty or invalid
                sum_dolore += value;
            });
            
            let sum_funzione_a = 0;
            funzione_a.forEach(input => {
                const value = parseFloat(input.value) || 0; // Use 0 if the input is empty or invalid
                sum_funzione_a += value;
            });

            let sum_funzione_b = 0;
            funzione_b.forEach(input => {
                const value = parseFloat(input.value) || 0; // Use 0 if the input is empty or invalid
                sum_funzione_b += value;
            });
            
            let valore_prwhe=sum_dolore + (sum_funzione_a + sum_funzione_b)/2;
            document.getElementById('prwhe-0-valore_prwhe').value = valore_prwhe;

            console.log(valore_prwhe);
           
        };
    
        // Add event listeners to each input to trigger sum calculation
        dolore.forEach(input => {
            input.addEventListener('input', calculateSum);
        });
        
        funzione_a.forEach(input => {
            input.addEventListener('input', calculateSum);
        });
        funzione_b.forEach(input => {
            input.addEventListener('input', calculateSum);
        });
        // Initial sum calculation
        calculateSum();
    });

</script>