<div>
    
    <fieldset>
        <legend>Sensibilita Dorsale</legend>
    {{ form.sensibilita_dorsale }}
    {% for error in form.sensibilita_dorsale.errors %}
        <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    
    <div class="row">
        <!-- SVG on the left -->
        <div class="col-md-6">

            <div id="colorPaletteDorsale" style="display: none; position: absolute; z-index: 1000;">
                <div style="width: 20px; height: 20px; background: rgba(0, 255, 0, 1);" data-color="rgba(0, 255, 0, 1)" data-id="2.83" data-grams="2.83 - 0.07g VERDE" ></div>
                <div style="width: 20px; height: 20px; background: rgba(0, 0, 255, 1);" data-color="rgba(0, 0, 255, 1)" data-id="3.61" data-grams="3.61 - 0.4g BLU"></div>
                <div style="width: 20px; height: 20px; background: rgba(200, 162, 200, 0.7);" data-color="rgba(200, 162, 200, 0.7)" data-id="3.84" data-grams="3.84 - 0.6g VIOLA CHIARO"></div>
                <div style="width: 20px; height: 20px; background: rgba(128, 0, 128, 1);" data-color="rgba(128, 0, 128, 1)" data-id="4.31" data-grams="4.31 - 2g VIOLA SCURO"></div>
                <div style="width: 20px; height: 20px; background: rgba(255, 102, 102, 0.7);" data-color="rgba(255, 102, 102, 0.7)" data-id="4.56" data-grams="4.56 - 4g ROSSO CHIARO"></div>
                <div style="width: 20px; height: 20px; background: rgba(255, 0, 0, 1);" data-color="rgba(255, 0, 0, 1)" data-id="5.46" data-grams="5.46 - 26g ROSSO"></div>
                <div style="width: 20px; height: 20px; background: rgba(139, 0, 0, 1);" data-color="rgba(139, 0, 0, 1)" data-id="6.54" data-grams="6.54 - 180g ROSSO SCURO"></div>
                <div style="width: 20px; height: 20px; background: rgba(10, 0, 0, 1);" data-color="rgba(10, 0, 0, 1)" data-id="anestesia" data-grams="Anestesia - NERO"></div>
                <div style="width: 20px; height: 20px; background: rgba(125, 255, 255, 0.5);" data-color="rgba(125, 255, 255, 0.5)" data-id="none" data-grams="No valore"></div>
        </div>

            <svg id="interactiveImageDorsale" width="512" height="512" viewBox="0 0 512 512">
                <image href="{{ url_for('static', filename='sensibilta_dorsale.jpg') }}" width="512" height="512" />
                <!-- Multiple rectangles with unique IDs -->
                
                <!-- mignolo -->
                <rect id="rect1" x="82" y="256" width="27" height="20" fill="transparent" data-id="1" />
                <rect id="rect2" x="176" y="295" width="27" height="20" fill="transparent" data-id="2" />
                <rect id="rect3" x="218" y="440" width="27" height="20" fill="transparent" data-id="3" />
                <rect id="rect4" x="402" y="417" width="27" height="20" fill="transparent" data-id="4" />
                
            </svg>

        </div>

       
        <!-- Legend -->
        <div class="col-md-6">
            <div id="legendDorsale" style="margin-top: 100px;margin-bottom:40px;"></div>
        </div>
    
    </div>
    
</div>
<script>

    const currentSelectionDorsale = {};
    const colorPaletteDorsale = document.getElementById("colorPaletteDorsale");

    //Crazione legenda dinamicamente
    const legendDorsale = document.getElementById("legendDorsale");

    // Get all child divs from the colorPalette
    const colorItemsDorsale = colorPaletteDorsale.querySelectorAll("div");

    // Create a unique map of colors and their data IDs
    const colorMapDorsale = new Map();

    colorItemsDorsale.forEach((item) => {
        const color = item.getAttribute("data-color");
        const dataId = item.getAttribute("data-grams");

        if (color && dataId) {
            // Add the color and data ID to the map
            if (!colorMapDorsale.has(color)) {
                colorMapDorsale.set(color, []);
            }
            colorMapDorsale.get(color).push(dataId);
        }
    });

    // Generate the legend content
    colorMapDorsale.forEach((dataIds, color) => {
        // Create a legend item
        const legendItem = document.createElement("div");
        legendItem.style.display = "flex";
        legendItem.style.alignItems = "center";
        legendItem.style.marginBottom = "10px";

        // Create the color box
        const colorBox = document.createElement("div");
        colorBox.style.width = "20px";
        colorBox.style.height = "20px";
        colorBox.style.background = color;
        colorBox.style.border = "1px solid #000";
        colorBox.style.marginRight = "10px";

        // Create the text showing data IDs
        const text = document.createElement("span");
        text.textContent = `: ${dataIds.join(", ")}`;

        // Append the color box and text to the legend item
        legendItem.appendChild(colorBox);
        legendItem.appendChild(text);

        // Append the legend item to the legend container
        legendDorsale.appendChild(legendItem);
    });

    const mapping = {
        "1": "Zona 1",
        "2": "Zona 2",
        "3": "Zona 3",
        "4": "Zona 4",
        
    };

    document.getElementById("interactiveImageDorsale").addEventListener("click", function(event) {
        if (event.target.tagName === "rect") {
            const rect = event.target;
            const rectId = rect.getAttribute("data-id");

            // Get the mapping
            const mappingValue = mapping[rectId];

             // Position the palette near the clicked rectangle
            const rectBounds = rect.getBoundingClientRect();
            colorPaletteDorsale.style.left = `${rectBounds.x + window.scrollX}px`;
            colorPaletteDorsale.style.top = `${rectBounds.y + window.scrollY + rectBounds.height}px`;
            colorPaletteDorsale.style.display = "block";
            
            console.log("REct event");


        // Add a click event to the palette
            colorPaletteDorsale.onclick = function (paletteEvent) {
                const color = paletteEvent.target.getAttribute("data-color");
                const code = paletteEvent.target.getAttribute("data-id");
                
                if (color === "rgba(125, 255, 255, 0.5)") {
                    
                    console.log("Color REmove", color);

                    rect.setAttribute("fill", color);
                    colorPaletteDorsale.style.display = "none";
                    // Change the rectangle color and hide the palette
                    if (mappingValue in currentSelectionDorsale) {
                        // Remove the mapping
                        delete currentSelectionDorsale[mappingValue];
                    }
                    document.getElementById("sensibilita_dorsale").value = JSON.stringify(currentSelectionDorsale);
                    console.log("Current selection", currentSelectionDorsale);
                    
                }else{

                    currentItem= {
                        "id": rectId,
                        "code": code,
                    }
                    console.log("Color add", color);
                    rect.setAttribute("fill", color);
                    colorPaletteDorsale.style.display = "none";
                    // Add the mapping
                    currentSelectionDorsale[mappingValue] = currentItem;
                    console.log("Current selection", currentSelectionDorsale);
                    document.getElementById("sensibilita_dorsale").value = JSON.stringify(currentSelectionDorsale);
                }


            };
            
            document.getElementById("sensibilita_dorsale").value = JSON.stringify(currentSelectionDorsale);

        }
    });
</script>