{% extends "base.html" %}

{% block content %}

<div id='calendar'></div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/treatments_events', //Endpoit per recuperare gli eventi da mostrare nel calendario
            eventClick:function(info){
                
                var currentDate = new Date();  // Current date
                var eventDate = new Date(info.event.start);  // Event date
                
                // Calculate 5 days before and after today
                var fiveDaysBefore = new Date(currentDate);
                
                //10 è la base del sistema numerico
                fiveDaysBefore.setDate(currentDate.getDate() - parseInt("{{days_before}}",10));

                var fiveDaysAfter = new Date(currentDate);
                fiveDaysAfter.setDate(currentDate.getDate() + parseInt("{{days_after}}",10));
                

                // Check if event date is within 5 days before or after today
                if (eventDate >= fiveDaysBefore && eventDate <= fiveDaysAfter) {
                    // Event is within the range, so handle the click
                    var eventId = info.event.id;
                    window.location.href = '/next_controls/'+info.event.id;
                    
                }else{

                    if (eventDate < currentDate) {
                        alert("Evento già trascorso");
                    } else if (eventDate > currentDate) {
                        alert("Evento non ancora selezionabile");
                    }
                }
            },
            locale: 'it', // Fetch events from Flask endpoint
            height: 'auto',
            eventDidMount: function(info) {
                // Attach a tooltip to show full event title on hover
                $(info.el).tooltip({
                    title: info.event.title,
                    placement: 'top',
                    trigger: 'hover',
                    container: 'body'
                });
            }
        });
        calendar.render();
        
        // Add event listener for mousewheel to scroll through months
        calendarEl.addEventListener('wheel', function(event) {
            if (event.deltaY < 0) {
                calendar.prev(); // Scroll up to go to the previous month
            } else if (event.deltaY > 0) {
                calendar.next(); // Scroll down to go to the next month
            }
            event.preventDefault(); // Prevent the default scroll behavior
        });
    });
</script>

{% endblock %}

