
{% extends "base.html" %}

{% block content %}

<div class="row mb-4">



    <h2 class="title mt-3">
        Configuratore guida Inserimento Terapia
      </h2>

      <h4 class="title mt-3">
        Step 2: Compila i parametri e fai click su Aggiungi per concludere l'inserimento della terapia
      </h4>

</div>    

<div class="row">
  <div class="col-md-12 mb-12 col-lg-12">

  {% include 'general/pathology_form_pre.html' %}
  </div>
</div>

<script src="{{ url_for('static', filename='js/generic_datepicker_max_date.js') }}"></script>

{% endblock %}
