
{% extends "base.html" %}

{% block content %}


<div class="row">
  <div class="col-md-12 mb-12 col-lg-12">

    {% include 'general/pathology_form_post.html' %}
  
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-12 col-lg-12">
    <div>
      <button class="btn btn-success fixed-button" type="button" id="generate-full-pdf">Genera PDF</button>
    </div>
  </div>
</div>


<script>


  function retrieve_form_data(){
    var formClone = $("#form-post-treatment").clone();

    let selectElement = document.getElementById("cicatrice-0-aderente");

    // Get the current value of the select element
    let selectedValue = selectElement.value;  

    console.log("SELECTED VALUE ", selectedValue);

    // Update the form clone to include user-input values
    formClone.find("input, textarea, select").each(function () {
      if ($(this).is(":checkbox") || $(this).is(":radio")) {
          // For checkboxes and radio buttons
          if ($(this).is(":checked")) {
              $(this).attr("checked", true);
          } else {
              $(this).removeAttr("checked");
          }
      } else if ($(this).is("select")) {
          // For select elements
          console.log($(this).attr("id"), $(this).val());

          let selectElement = document.getElementById($(this).attr("id"));
          let selectedValue = selectElement.value;
          //Cicla su tutte le opzioni del select  
          $(this).find("option").each(function () {

            //Questo setta il valore selected a true solo opzione che ha il valore uguale a quello selezionato
            if ($(this).val() == selectedValue) {
                  $(this).attr("selected", true);
              } else {
                  $(this).removeAttr("selected");
              }
          });
      } else {
          // For text, email, textarea, and other inputs
          console.log("VALUE", $(this).val());
          $(this).attr("value", $(this).val());
      }
    });

    return formClone;
  }
  function generate_full_pdf(){
    
    
    var formClone = retrieve_form_data();
        // Get the updated form HTML
    var formHtml = formClone.prop("outerHTML");
        
    // Send the HTML to the server
    $.ajax({
        url: "/generate_page_pdf/{{row_id}}",
        method: "POST",
        headers: {
          "X-CSRFToken": $("input[name=csrf_token]").val(), // Add CSRF token in headers
        },
        contentType: "application/json",
        data: JSON.stringify({ html: formHtml }),
        success: function (response) {
            // Redirect to the PDF download link
            window.location.href =  "/static/pdf_files/"+ response.filename;
        },
        error: function (xhr, status, error) {
            console.error("Error:", error);
        }
    });

  }

  $(document).ready(function () {
    $("#generate-full-pdf").click(function () {
        // Get the HTML content of the current page
        generate_full_pdf();
    });
});

document.getElementById("form-post-treatment").addEventListener("submit", function (e) {
    
    generate_full_pdf();
});

 
</script>

<script>
    // Pass Jinja variable to JavaScript

    const week_to_add= "{{ week_to_add }}";
    console.log(week_to_add);
    
    //La Data intervento deve essere quella originaria intervento
    DataIntervento = new Date("{{data_intervento}}");


</script>

<script src="{{ url_for('static', filename='js/datepicker_only_week.js') }}"></script>

<script>
  // Write a date to the input field
  var dateInput = document.getElementById('datepicker');
  
  // Example: Set the input date to today's date
  var date = new Date("{{data_controllo}}");
  //convert date to DD--MM-YYYY

  var day = String(date.getDate()).padStart(2, '0'); // Pad day with leading zero if necessary
  var month = String(date.getMonth() + 1).padStart(2, '0'); // Months are zero-based, so add 1
  var year = date.getFullYear();

// Format the date as dd-mm-yyyy
var formattedDate = day + '-' + month + '-' + year;

dateInput.value = formattedDate;
</script>


{% endblock %}
