{% extends "base.html" %}

{% block content %}

<div class="row">

<h2> Frattura Radio Distale </h2>

</div>

<div class="row">


<div  class="col-md-6 mb-6 col-lg-6">
    
    <form  id="pathology_form" method="POST">
        {{ form.csrf_token }}
    
       
        {{ form.data_intervento.label(style="display:block;") }}
        {{ form.data_intervento(id='generic-datepicker') }}
        <p id="error-message" style="color: red; display: none;"></p>
        
        {{ form.treatment_options.label(style="display:block;margin-top:15px;") }}
        {{ form.treatment_options }}


        {{ form.classificazione_radiografica_a.label(style="display:block;margin-top:15px;") }}
        {{ form.classificazione_radiografica_a }}

        {{ form.classificazione_radiografica_numero.label(style="display:block;margin-top:15px;") }}
        {{ form.classificazione_radiografica_numero }}
         
       
        
        {{ form.orario_primo_controllo.label }}
        {{ form.orario_primo_controllo(id='timepicker') }}


        {{ form.data_primo_controllo.label(style="display:block;") }}
        {{ form.data_primo_controllo(id='datepicker') }}
        

        {{ form.row_id(value=row_id)}}
        {{ form.patient_id(value=patient_id)}}
        {{ form.patient_name(value=patient_name)}}
        {{ form.pathology_id(value=pathology_id)}}
        
        

        {{ form.submit_chirurgico_form(style="display:block; margin-top:15px;") }}
        
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
    </form>    
      


</div>

</div>

<script>
    // Pass Jinja variable to JavaScript
    const week_to_add = "{{ week_to_add['1'] }}";
    console.log("week to add",week_to_add);
    DataIntervento = new Date();




</script>

<script src="{{ url_for('static', filename='js/generic_datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/datepicker_only_week.js') }}"></script>
<script src="{{ url_for('static', filename='js/prevent_form_sub_surgery_date.js') }}"></script>

{% endblock %}