{% extends "base.html" %}

{% block content %}

<div class="row">

<h2> Lesione Nervosa </h2>

</div>

<div class="row">


<div class="col-md-10 mb-10 col-lg-10">
    
    <form  method="POST">
        {{ form.csrf_token }}
    
       
        {{ form.data_intervento.label(style="display:block;") }}
        {{ form.data_intervento(id='generic-datepicker') }}

        {{ form.treatment_options.label(style="display:block;margin-top:15px;") }}
        {{ form.treatment_options }}

        {{ form.tipo_lesione.label(style="display:block;margin-top:15px;") }}
        {{ form.tipo_lesione }}

        {{ form.tipo_lesione.label(style="display:block;margin-top:15px;") }}
        {{ form.tipo_lesione }}

        {{ form.innesto.label(style="display:block;margin-top:15px;") }}
        {{ form.innesto }}

        {{ form.innesto_nervoso.label(style="display:block;margin-top:15px;") }}
        {{ form.innesto_nervoso }}


        {% include 'doctor/parametri/sensibilita_volare.html' %}
        {{ form.sensibilita_volare }}

        {% include 'doctor/parametri/sensibilita_dorsale.html' %}
        {{ form.sensibilita_dorsale }}
        
        {{ form.orario_primo_controllo.label }}
        {{ form.orario_primo_controllo(id='timepicker') }}


        {{ form.data_primo_controllo.label(style="display:block;") }}
        {{ form.data_primo_controllo(id='datepicker') }}
        

        {{ form.row_id(value=row_id)}}
        {{ form.patient_id(value=patient_id)}}
        {{ form.patient_name(value=patient_name)}}
        {{ form.pathology_id(value=pathology_id)}}
        
        

        {{ form.submit_chirurgico_form(style="display:block; margin-top:15px;") }}
        
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        
    </form>    
      


</div>

</div>

<script>
    // Pass Jinja variable to JavaScript
    const week_to_add = "{{ week_to_add['1'] }}";
    console.log(week_to_add);
    DataIntervento = new Date();

</script>

<script src="{{ url_for('static', filename='js/generic_datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/datepicker_only_week.js') }}"></script>


{% endblock %}