{% extends "base.html" %}

{% block content %}

<div class="row">

<h2> Lesione Nervosa </h2>

</div>

<div class="row">


<div  class="col-md-10 mb-10 col-lg-10">
    
    <form id="pathology_form" method="POST">
        {{ form.csrf_token }}
    
       
        {{ form.data_intervento.label(style="display:block;") }}
        {{ form.data_intervento(id='generic-datepicker') }}
        <p id="error-message" style="color: red; display: none;"></p>
        
        {{ form.tipo_lesione.label(style="display:block;margin-top:15px;") }}
        {{ form.tipo_lesione }}

        {{ form.treatment_options.label(style="display:block;margin-top:15px;") }}
        {{ form.treatment_options }}
        

        <div id="innesto_div" style="display:none;">
            {{ form.innesto.label(style="display:block;margin-top:15px;") }}
            {{ form.innesto }}
        </div>
        
        <div id="innesto_nervoso_div" style="display:none;">
            {{ form.innesto_nervoso.label(style="display:block;margin-top:15px;") }}
            {{ form.innesto_nervoso }}
        </div>

        {% include 'doctor/parametri/sensibilita_volare.html' %}
        {{ form.sensibilita_volare }}

        {% include 'doctor/parametri/sensibilita_dorsale.html' %}
        {{ form.sensibilita_dorsale }}
        
        {{ form.orario_primo_controllo.label }}
        {{ form.orario_primo_controllo(id='timepicker') }}


        {{ form.data_primo_controllo.label(style="display:block;") }}
        {{ form.data_primo_controllo(id='datepicker') }}
        

        {{ form.row_id(value=row_id)}}
        {{ form.patient_id(value=patient_id)}}
        {{ form.patient_name(value=patient_name)}}
        {{ form.pathology_id(value=pathology_id)}}
        
        

        {{ form.submit_chirurgico_form(style="display:block; margin-top:15px;") }}
        
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        
    </form>    
      


</div>

</div>

<script>
    // Pass Jinja variable to JavaScript
    const week_to_add = "{{ week_to_add['1'] }}";
    console.log(week_to_add);
    DataIntervento = new Date();


    function toggleInnesto(){
        
        var selectedValue = $("#innesto").val();
        console.log(selectedValue);
        
        if(selectedValue == "innesto_nervoso"){
            $("#innesto_nervoso_div").show();
        }
        else{
            $("#innesto_nervoso_div").hide();
        }
    }


    function toggleTipoIntervento(){

        var selectedValue = $("#treatment_options").val();
        
        console.log("Treatment options");
        if(selectedValue == "2"){
            $("#innesto_div").show();
            $("#innesto_nervoso_div").hide();
           
        }
        else{
            $("#innesto_div").hide();
            $("#innesto_nervoso_div").hide();
        }

    }


    $(document).ready(function() {

        $("#treatment_options").change(function() {
            toggleTipoIntervento();
        });

        $("#innesto").change(function() {
            toggleInnesto();
        });

    });

</script>

<script src="{{ url_for('static', filename='js/generic_datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/datepicker_only_week.js') }}"></script>
<script src="{{ url_for('static', filename='js/prevent_form_sub_surgery_date.js') }}"></script>


{% endblock %}